<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/login.css">    
</head>
<script>
    import TextField from '@mui/material/TextField';
</script>
<body>
    <form action="/member_login" method="post">
        <div class="header" >
           <span style=" text-shadow: 4px 4px black;letter-spacing:10px">&nbsp;CARINI&nbsp;</span>  
          <p class="header_a">
            <br>CARINI SEMPRE CON VUESTRO
            </p>
        </div>
        <br>
       <div class="div_a">
        <div>
            <div>
                <h1 class="video-overlay">ADVERTISEMENT</h1>
            </div>
            <div>
                <h1 class="flipped-text">ADVERTISEMENT</h1>
            </div>


        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/f_SjwyXNbas" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
   


    
        <div class="class">
            <fieldset class="fieldset_a">
                <legend class="legend_a">
                    &nbsp;&nbsp;login&nbsp;&nbsp;
                </legend>
                <h2 style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    _WELCOME_
                </h2>



                 <input type="id" name="id" class="btn btn-outline-secondary" placeholder="ID" size="25">
        <br>
                <input type="password" name="password" class="btn btn-outline-secondary" placeholder="PASSWORD" size="25">
        <br><br>
                <input id="login" type="submit" name="submit" class="btn btn-light" value="LOGIN" size="25" style="text-align: center;">
        <br><br><br>
        
    

            <a href="http://www.naver.com" style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" >
                아이디찾기
            </a> /
            <a href="http://www.naver.com"  style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" >
                비밀번호찾기
            </a> /
            <a href="http://www.naver.com" style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                회원가입
            </a>
        <br><br>

        
            <a href="/api/naver/oauth" >
                <img src="./img/naver.png" class="img_a" id="login">
            </a>
        <br>    
            <a href="/oauth/kakao" >
                <img src="./img/kakaotalk.png" class="img_a" id="login">
            </a>
        <br><br>
        
        

         <fieldset style="border: 0; align-items: center;">
            <legend class="legend_b" style="align-items: center;">
                &nbsp;chat-bot 바로가기&nbsp;
            </legend>
            <a href="http://pf.kakao.com/_YGxcxcG">
            <img src="./img/CARINI.jpg" height="100px" width="200px" style="border-radius: 35px;" >
            </a>     
        </fieldset>       
    </div>     
<br>
    <br><br>
</div>
</div>
<br>
</form>



</div>
</body>
</html>