<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>login.html</title>
   <link rel="stylesheet" href="/css/login.css">
</head>
<script>
   import TextField from '@mui/material/TextField';
</script>
<style>
   .field-error {
      border-color: #dc3545;
      color: #dc3545;
   }
</style>

<body>

   <a th:href="@{/homepage/first_home}" class="SubTitle">CARINI</a>

   <!-- Main -->
   <main>

      <div class="flex-container_row" style="width: 100%; height: 90%; margin-right: 10%;">


         <form th:action="@{/member_login_check(redirectURL=${redirectURL})}" th:object="${LoginFormValidation}"
            method="post">

            <div class="flex-container_column" style="width: 60%;  height: 650px;">

               <div class="video-container">

                  <iframe src="https://www.youtube.com/embed/RkrWjuCYHVM?autoplay=1&loop=1&playlist=RkrWjuCYHVM&controls=0"
                     allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>

               <div style="float: left; padding-left: 10px;">
                  <h1 class="flipped-text">ADVERTISEMENT</h1>
               </div>

            </div>


            <div class="flex-container_column" style="width: 40%;  height: 700px; float: left;">

               <fieldset>
                  <legend> login</legend>


                  <input type="text" th:field="*{memberId}" th:errorclass="field-error" placeholder="ID">



                  <div class="field-error" th:errors="*{memberId}" style="font-size: 15px;">
                     아이디 오류
                  </div>

                  <input type="password" th:field="*{memberPw}" th:errorclass="field-error" placeholder="PASSWORD"
                     size="25">

                  <div class="field-error" th:errors="*{memberPw}" style="font-size: 15px;">
                     비물번호 오류
                  </div>



                  <input id="login" type="submit" name="submit" value="LOGIN" style="text-align: center;">


                  <div class="flex-container_row" style="height: 10%;">
                     <a th:href="@{/find_idForm}">
                        아이디찾기 </a> /
                     <a th:href="@{/find_pwForm}">비밀번호찾기</a>/
                     <a href="/signup"> 회원가입</a>
                  </div>


                  <a href="/api/naver/oauth">
                     <img src="/img/naver.png" class="img_login">
                  </a>

                  <a href="/oauth/kakao">
                     <img src="/img/kakaotalk.png" class="img_login">
                  </a>

                  <a href="/oauth/kakao">
                     <img src="/img/google.png" class="img_login" style="border-radius: 0.5rem;">
                  </a>

               </fieldset>
            </div>
         </form>

      </div>

   </main>
</body>

</html>