<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<script>
    import TextField from '@mui/material/TextField';
</script>
<body>
	<form action="/signup" method="post">
	        <div class="header" >
	            <span style=" text-shadow: 3px 3px black;letter-spacing:10px">&nbsp;CARINI&nbsp;</span>  
	           <p class="header_a">
	             <br>CARINI SEMPRE CON VUESTRO
	             </p>
	        </div>
	        <br>
	        <div class="div_a">
	            
	        <div class="class">
	            <fieldset class="fieldset_a">
	                <legend class="legend_a">
	                    &nbsp;&nbsp;sign_up&nbsp;&nbsp;
	                </legend>
	                <br>
	                <!-- <h2>
	                    _WELCOME_
	                </h2> -->
	                <input type="id" name="memberId" class="btn btn-outline-secondary" placeholder="아이디" size="25" minlength="5" maxlength="15">
	        <br><br>
	                
	                <input type="password" name="memberPw" class="btn btn-outline-secondary" placeholder="8~16자의 영문 대/소문자, 숫자, 특수문자를 사용해 주세요." size="25" minlength="8" maxlength="16">
	        <br><br>
	                <input type="text" name="memberName" class="btn btn-outline-secondary" placeholder="이름" size="25">
	        <br><br>
	                <input type="text" name="memberNickname" class="btn btn-outline-secondary" placeholder="닉네임" size="25">
	        <br><br>
	                 <input type="email" name="memberEmail" class="btn btn-outline-secondary" placeholder="이메일 입력해 주세요" size="25">
	        <br><br>
	                <input type="tel" name="memberPhoneNum" class="btn btn-outline-secondary" placeholder="전화번호를 입력해 주세요" size="25">
	        <br><br>
	              <input id="login" type="submit" name="submit" class="btn btn-light" value="가입하기" style="text-align: center;" size="25">

				  </form>
				 <br>
	
			</fieldset>
	    </div>     
	<br>
	    
	    <br><br>
	</div>
	</div>
	<br>
</body>
</html>