<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
	
	<script src="/src/main/resources/static/script/available.js" defer></script>
</head>
<script>
    import TextField from '@mui/material/TextField';
</script>
<body>
    <form action="/signup" method="post">
        <header>

            <a th:href="@{/}" style=" text-shadow: 4px 4px black;letter-spacing:10px">
                &nbsp;CARINI&nbsp;
            </a>  

            <p class="header-1">
                <br>CARINI SEMPRE CON VUESTRO
            </p>

        </header>
        <br>

        <nav>
            
        </nav>

        <section>
                <div>
                     <div style="height: 20%; " >
                        
                     </div>

                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/RkrWjuCYHVM" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>

                    <div style="float: left; padding-left: 10px;">
                        <h1 class="flipped-text">ADVERTISEMENT</h1>
                    </div>

                </div>
     
        </section>

        
        <aside>
            
            <div class="signupbox">
                <fieldset>
                    <legend> &nbsp;&nbsp;signup&nbsp;&nbsp;</legend>
                    <br>
                    <h3> _WELCOME_</h3>
            <br>  
            <input type="id" id="id_input" name="memberId" class="btn btn-outline-secondary" placeholder="아이디" size="25" minlength="5" maxlength="15">
            <br><br>
                    
                    <input type="password" name="memberPw" class="btn btn-outline-secondary" placeholder="8~16자의 영문 대/소문자, 숫자, 특수문자를 사용해 주세요."  size="25" minlength="8" maxlength="16">
            <br><br>
                    <input type="text" name="memberName" class="btn btn-outline-secondary" placeholder="이름"  size="25">
            <br><br>
                    <input type="text" name="memberNickname" class="btn btn-outline-secondary" placeholder="닉네임"  size="25">
            <br><br>
                     <input type="email" name="memberEmail" class="btn btn-outline-secondary" placeholder="이메일 입력해 주세요"  size="25">
            <br><br>
                    <input type="tel" name="memberPhoneNum" class="btn btn-outline-secondary" placeholder="전화번호를 입력해 주세요" size="25">
            <br><br>
                  <input id="login" type="submit" name="submit" class="btn btn-light" value="가입하기" style="text-align: center;" size="25">
            <br><br>
    

                
    </fieldset>       
    </div>     
    <br><br><br>
    </div>
    </div>
        </aside>
        <footer>
            
        </footer>
    </body>
    </form>

</html>