<!DOCTYPE html>
<html>
<head>
   <title>Spring Framework</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" 
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" 
      crossorigin="anonymous">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
</head>
<body>
   <h3>Model List</h3>

   <!-- 카드 박스 반복 -->
   <div class="card_box" id="first_card_box" >
      <div class="card" style="width: 18rem;max-height: 23rem;" th:each="car : ${CarList}">
		<form th:action="@{/model/modelList}" method="post">
         <img th:src="@{${car.carImg}}" class="card-img-top" alt="이미지">
         <div class="card-body">
            
			<h5 class="card-title" style="font-size: 20px;" th:text="${car.carName}"></h5>
            <p class="card-text" style="font-size: 15px;height: 10px;margin-top: 10px;" th:text="|가격(최소) : ${car.carMinPrice}|"></p>
			<p class="card-text" style="font-size: 15px;height: 10px;" th:text="|크기 : ${car.carSize}|"></p>
			<p class="card-text" style="font-size: 15px;height: 10px;" th:text="|연료 : ${car.carFuel}|"></p>
			<p class="card-text" style="font-size: 15px;height: 10px;" th:text="|연비 : ${car.carEff}|"></p>
            <div class="card_button_box" style="margin-top:20px; font-size: 15px;">
				<a href="/model/modelDetail/{carId}" style="padding: 0px 5px;" class="btn btn-primary">자세히 보기</a>
            </div>
         </div>
		</form>
      </div>
   </div>

	
	
	<div>
		<ul class="col pagination justify-content-center">	
			<th:block th:if="${sp > ps}">
				<li class="page-item"><a th:href="@{/board/getNoticeList(curPage=${sp-ps}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}" th:text="#{notice.prev}"></a></li>				
			</th:block>
			
			<th:block th:each="page : ${#numbers.sequence(pagingInfo.getStartPage(), pagingInfo.getEndPage())}">
			  <li class="page-item" th:classappend="${(page-1)==pagingInfo.getCurPage() ? 'active' : ''}">
			    <a th:classappend="${(page-1)==pagingInfo.getCurPage() ? 'current' : ''}"
			       th:href="@{/notice/getNoticeList(curPage=${page-1}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
			       th:text="${page}"></a>
			  </li>
			</th:block>
			
			<th:block th:if="${ ep lt tp }">
				<li class="page-item"><a th:href="@{/notice/getNoticeList(curPage=${ep}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}" th:text="#{notice.next}"></a></li>								
			</th:block>
		</ul>
	</div><!--pagination-->
</body>
</html>

