<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/getModel.css">
	<link rel="stylesheet" href="/css/base.css">
	<title>자동차상세보기(getModel.html)</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<!-- 차트 -->
	<script src="/script/getModel.js"></script>
</head>

<body>

	<!-- Header -->
	<header th:replace="~{base/base :: main_header}"></header>

	<section class="SubTitle">MODEL_DETAILED</section>

	<main>
		<!-- main 안에 있는 큰 박스 -->
		<div style="display: flex; flex-direction:column;">

			<!-- 자동차 이름 라인 -->
			<div style="height: 300px; width: 100%;">
				<div class="image-container">
					<img th:src="@{${car.carImg}}" alt="Example Image">
					<span class="text" th:text="${car.carName}"></span>
				</div>
			</div>

			<!-- 첫번째 라인 -->
			<div class="flex-container">

				<!-- 왼쪽 박스 : 육각형차트 들어갈 자리 -> 현재 이미지로 대체중 -->
				<fieldset style="width: 400px; height: 400px;">
					<legend>ASSESSMENT</legend>
					<canvas id="carRadarChart" style="height: 380px; width: 350px;"></canvas>

				</fieldset>

				<!-- 오른쪽 박스 : 자동차 사진 -->
				<fieldset style="width: 700px; height: 400px;">

					<legend th:text="${car.carName}"></legend>
					<img class="flipped-image" th:src="@{${car.carImg}}" style="width: 850px; height: 400px;"
						alt="좌우반전 자동차사진">

				</fieldset>

			</div>

			<!-- 두번째 라인 -->
			<div class="flex-container">

				<!-- 왼쪽 박스 : 평점차트 -->
				<fieldset style="width: 750px; height: 400px;">
					<legend>CHART</legend>
					<div class="chart-container">
						<canvas id="carBarChart" style="height: 380px; width: 350px;"></canvas>
					</div>
				</fieldset>

				<!-- 오른쪽 박스 : table -->
				<fieldset style="width: 450px; height: 400px;">
					<legend class="legend_brand">TABLE</legend>
					<table class="car_table">
						<thead>
							<tr>
								<th>구분</th>
								<th>수치</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="background-color: whitesmoke;">크기</td>
								<td>
									<p th:text="${car.carSize}"></p>
								</td>
							</tr>
							<tr>
								<td style="background-color: whitesmoke;">연료</td>
								<td>
									<p th:text="${car.carFuel}"></p>
								</td>
							</tr>
							<tr>
								<td style="background-color: whitesmoke;">연비</td>
								<td>
									<p th:text="${car.carEff}"></p>
								</td>
							</tr>
							<tr>
								<td style="background-color: whitesmoke;">가격</td>
								<td>
									<p th:text="|${#numbers.formatInteger(car.carAvgPrice, 0, 'COMMA')}만원|"></p>
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>

			</div>

			<!-- 세번째 라인 -->
			<div class="flex-container">

				<!-- 왼쪽 박스 : 로고 -> 링크:홈페이지 -->
				<fieldset style="width: 390px; height: 400px;">
					<legend>BRAND</legend>
					<a th:href="@{${carBrand.carBrandURL}}" class="car_logo">
						<img th:src="@{/img/carBrandLogo/{carBrandName}.png(carBrandName=${carBrand.carBrandName})}"
							alt="자동차로고이미지" style="height: 200px; width: 200px; padding-left: 10%;">
					</a>
				</fieldset>

				<!-- 중간 박스 : 뭐넣을지 몰라박스 -->
				<fieldset style="width: 390px; height: 400px; background-color: whitesmoke;">
					<legend>&nbsp;</legend>
				</fieldset>

				<!-- 오른쪽 박스 : 대리점 -> 링크:홈페이지 -->
				<fieldset style="width: 390px; height: 400px;">
					<legend> AGENCY</legend>
					<a th:href="@{/center/centerMap(carBrand=${carBrand.carBrandName})}" style="margin-right: 10%;">
						<img th:src="@{/img/agency.png}" alt="대리점"
							style="height:150px; width:150px; padding-left:20%;margin-left:100px">
					</a>
				</fieldset>

			</div>

		</div> <!-- main 안에 있는 큰 박스 닫음 -->

	</main>
	<!-- footer -->
	<footer th:replace="~{base/base :: main_footer}"></footer>

	<script th:inline="javascript">
		// Car data passed from the server
		/*<![CDATA[*/
		var car = /*[[${car}]]*/ {};
		/*]]>*/


		// Create the charts once the page loads
		window.onload = function () {
			createRadarChart(car);
			createBarChart(car);
		};
	</script>

</body>

<!-- 메뉴바 Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</html>