* {
	margin: 0;
	padding: 0;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	letter-spacing: 2px;
	cursor: default;
}



/* body */

body {
	background: white;
	color: #5b5b5b;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;

}



/* 소제목 */

/* 소제목 영역 */
section {
	height: 50px;
	width: 100%;
	text-align: center;
	align-items: center;
	margin: 5% 16%;

}

/* 소제목 */
.SubtitleContainer {
	width: 100%;
	height: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

}

.SubTitle {
	text-align: center;
	font-size: 60px;
	font-weight: 1000;
	color: black;
	width: 70%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


/* 소제목 소개글 */
#SubTitle_Text {
	display: inline;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	text-align: center;
	font-size: 30px;
	color: black;
}



/* Main */

main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

#zero main {
	margin: 0%;
	padding: 0%;
	width: 1500px;
}




/* form */

form {
	display: flex;
	align-items: center;
	justify-content: center;
}



/* Container */

.container {
	margin: auto;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* 세로박스 : 세로로 정렬됨. */
.flex-container_column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1%;
	width: 85%;
	height: 90%;
}

/* 가로박스 : 가로로 정렬됨.*/
.flex-container_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1%;
	width: 90%;
	height: 90%;
}

#zero .flex-container_row {
	width: 1500px;
}

.flex-container>div {
	background-color: white;
	text-align: center;
}

/* 각 라인들을 감싸는 박스 */
.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: white;
}

.flex-container>div {
	background-color: white;
	text-align: center;
}




/* 박스 class */

.div {
	width: 100%;
	height: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}


/* gradient */
.gradient {
	padding: 1% 2%;
}





/* Form요소 - Input, textarea, select */

input,
textarea,
select {
	font-size: 15pt;
	line-height: 1.85em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	border: 1px solid lightgray;
	margin: 0.5%;
	border-radius: 0.5rem;
	padding: 1%;
	cursor: pointer;
}


input[type="email"],
input[type="password"],
input[type="submit"],
input[type="submit"],
input[type="reset"],
button,
.button {
	background: white;
	border-radius: 0.5em;
	border: 1px solid #BFBCBA;
	margin: 0.1px;
	padding: 1%;
}


input[type="email"]:hover,
input[type="password"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button {
	background: white;
	border-radius: 0.5em;
	border: 1px solid #222222;
	margin: 0.1px;
	padding: 1%;
}

input[type="text"] {
	cursor: text;
}

input[type="text"]:hover {
	cursor: text;
}

input[type="submit"],
input[type="button"] {
	background-color: white;
	color: #222222;
	border: 1px solid #BFBCBA;
	cursor: pointer;
	marin: 1%;

}

input[type="submit"]:hover,
input[type="button"] {
	border: 1px solid #FFCC4C;
}



form textarea {
	min-height: 9em;
	cursor: text;
	width: 100%;
}


#search {
	height: 15px;
	width: 30px;
}



/* Table */

table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid whitesmoke;
}

th,
td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #BFBCBA;
	border-right: 1px solid whitesmoke;
	border-left: 1px solid whitesmoke;
}

th {
	background-color: #BFBCBA;
	color: white;
	font-weight: bold;
	border-bottom: 1px solid #BFBCBA;

}

tr {
	background-color: white;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.center {
	text-align: center;
}




/* checkbox */

.checkbox {
	flex: 0 0 50px;
	/* 고정 크기 */
}

#exCar {
	width: 5%;
	cursor: pointer;
}





/* Input, textarea, select 

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
	padding: 2px;
	position: relative;
	display: inline-block;
	background-color: white;
	color: black;
	text-align: center;
	border-radius: 0.5em;
	text-decoration: none;
	padding: 0.65em 3em 0.65em 3em;
	border: 2px solid black;
	cursor: pointer;
	outline: 0;
	font-weight: 300;
	-webkit-text-stroke: 0.4px black;
}

/* button.hover 


input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
	color: white;
	background: black;
	-webkit-text-stroke: 0.9px white;
}

input[type="text"]:hover {
	border: 2px solid rgb(170, 170, 170);
}

*/

/* a */
a {
	color: #222222;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
	cursor: pointer;
}

main>a {
	font: inherit;
	font-weight: bold;
	/* 글씨체를 두껍게 설정 */
	text-decoration: none;
	/* 밑줄 제거 */
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	text-decoration: none;
	cursor: pointer;
}


/* a.hover */

main>a:hover {
	background-color: black;
	color: white;
	font: inherit;
	-webkit-text-stroke: 0.5px white;
	border-bottom-color: transparent;
	border-radius: 0.5rem;
	background-color: none;
	cursor: pointer;
	text-decoration: none;
}



/* 탈퇴하기 button */

.getout {
	width: 3%;
	height: 5%;
	color: black;
	background-color: white;
}

.getout_button,
.getout .getout_button {
	border: none;
	color: black;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border-radius: 16px;
	text-decoration: none;
	margin-top: 300px;
}

button {
	cursor: pointer;
	border: none;
}

button:hover {
	border: none;

	font-weight: bold;
}