
* {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* body */

body {
	background: white;
	color: #5b5b5b;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}


/* 우측 아이콘 */

#float_icons {
	position: absolute;
	height: 50px;
	width: 50px;
	position: sticky;
	/* 화면에서 고정 위치에 놓습니다 */
	top: 40%;
	/* 화면 높이의 50%에서 고정됩니다 */
	right: 0px;
	z-index: 300;
	/* 다른 요소 위에 표시될 수 있도록 설정합니다 */
	float: right;
	margin: 15px;
}


#float_icons a {
	margin-top: 18px;
	/*아이콘 사이의 간격을 5px로 설정합니다 */
	display: block;
	margin-right: 15px;
}

#float_icons img {
	width: 50px;
	height: auto;
	opacity: 85%;
	background-color: white;
}

/* 소제목 */

/* 소제목 영역 */
section {
   width: 70%;
   height: 100%;
   text-align: center;
   align-items: center;
   margin: 5% 16%;
}

/* 소제목 */
.SubTitle {
   font-size: 70px;
   font-weight: 1000;
   color: black;
   width: 70%;
   height: 10%;
   display: flex;
   flex-direction: column;
   letter-spacing: 6px;
}

/* 소제목밑에글씨 */
#SubTitle_text {
   display: inline;
   align-items: center;
   justify-content: center;
   font-weight: 900;
   text-align: center;
   font-size: 30px;
   color: black;
}





/* 지도 뒤에 글씨 */

#Map_Text {
	display: inline;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	text-align: center;
	font-size: 30px;
	color: black;
}

select {
	height: 50px;
	border: 1px solid white;
}




/* 지도 */
#map {
	width: 95%;
	height: 80%;
	border: 1px solid lightgray;
	border-radius: 0.5rem;
	margin: 2%;
}

.div_search {
	width: 100%;
	height: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1%;
}

/* Container */

.container {

	margin: auto;
	justify-content: center;
	align-items: center;
	width: 1200px;
}


/* 세로박스 */
.flex-container_column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 85%;
	height: 90%;
}

/* 가로박스 */
.flex-container_row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1%;
	width: 85%;
	height: 90%;
	flex-wrap: wrap;
}


/* 지도 */
#map {
	width: 100%;
	height: 100%;
	border: 1px solid lightgray;
	border-radius: 0.5rem;
	margin: 2%;
}

#map_box {
	/* 지도 박스 */

	width: 100%;
	height: 100%;
}

.div {
	width: auto;
	height: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	text-align: center;
}

/* 검색창 감싸는 박스 */
.search {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3%;
	margin: 1%;
	height: 80%;
	width: 15%;
	background-color: white;
	border-radius: 0.5rem;
}

/* 검색창 */
.sub_search {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: white;

}

select {
	height: 50px;
}


/*Board*/

.Board {
	display: flex;
	align-items: center;
}

.Board select {
	margin-right: 10px;
}

.Board input[type="text"] {
	margin-right: 10px;
	padding: 5px;
}

.Board input[type="button"] {
	padding: 3.5px 5px;
	cursor: pointer;
}

.Board_text {
	font-size: 45px;
	font-weight: 700;
	color: black;
}





/* Main */


main {
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	/* background-color: blue; */
}



/* Mypage.html에 쓰이는_My_information */

section {
	width: 70%;
	height: 100%;
}

/*  
#info_info_box {
    background-color: yellow;
    width: 550px;
    height: 100%;
    margin-right: 200px;
 } */

#info_box {
	height: 80%;
	width: 700px;
	border-collapse: collapse;
	background-color: whitesmoke;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 0.5rem;
}

#info_box th,
#info_box td {
	padding: 15px;
	text-align: center;
}

#info_box th {
	background-color: black;
	border: 2px solid whitesmoke;
	border-radius: 0.5rem;
	color: white;
	font-weight: normal;
	width: 30%;
}

#info_box td {
	background-color: whitesmoke;
	border: 3px solid white;

}

.edit_info button {
	background-color: #f2f2f2;
	width: 20px;
	height: 20px;
}

#info_box tr:nth-child(even) button {
	background-color: #e9e9e9;
	width: 20px;
	height: 20px;
}

.edit_info {
	background-color: rgb(186, 155, 186);
	width: 180px;
	height: 50px;
}



.edit_info img {
	width: 15px;
	height: 15px;
}




#edit_nickname {
	width: 20px;
	max-width: 20px;
	background-color: #f3f3f3;
	top: 5px;
	left: 28px;
}

#edit_nickname img {
	width: 20px;
}





/* Form요소 - Input, textarea, select */

input,
textarea,
select {
	font-size: 15pt;
	line-height: 1.85em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"],
form select,
form textarea {
	background: white;
	border-radius: 0.5em;
	border: 2px solid black;
	margin: 0.1px;
	padding: 0.1px;
}

form textarea {
	min-height: 9em;
}


#search {
	height: 25px;
	width: 30px;
}



/* Table */


table {
	border-collapse: collapse;
	border-top: 1px solid black;
	/* 테이블 상단 테두리 */
	border-bottom: 1px solid black;
	/* 테이블 하단 테두리 */
	/* overflow: scroll; */
	padding: 1%;
	font-size: 15px;
	text-align: center;
	table-layout: auto;
}

th,
td {
	height: 20px;
	padding: 0% 1%;
	margin: 0;
	text-align: center;
	border: none;
	/* 안쪽 테두리 제거 */
	border-bottom: 1px solid black;
}

th {
	background-color: black;
	color: white;
	font-weight: lighter;
	font-size: 20px;
	border-right: 3px solid white;
	height: 20px;
}

tr {
	height: 20px;
	background-color: white;
}

th:nth-child(1),
td:nth-child(1) {
	width: 30%;
}

th:nth-child(2),
td:nth-child(2) {
	width: 70%;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}










/* 테이블 스타일 */
table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
	/* 테이블 레이아웃을 고정으로 설정 */

}

thead {
	background-color: #f2f2f2;
}

thead th {
	padding: 12px;
	border-bottom: 1px solid #ddd;
}

tbody td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}



tbody img {
	max-width: 120px;
	height: auto;
}









.center {
	text-align: center;
}





/* checkbox */

.checkbox {
	flex: 0 0 50px;
	/* 고정 크기 */
}





/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
	padding: 1px;
	position: relative;
	display: inline-block;
	background-color: white;
	color: black;
	text-align: center;
	border-radius: 0.5em;
	text-decoration: none;
	padding: 0.65em 0.5em 0.65em 0.5em;
	border: 2px solid black;
	cursor: pointer;
	outline: 0;
	margin: 5px;
	font-weight: 300;
	-webkit-text-stroke: 0.4px black;
	/* 버튼 화면전환 효과 (0.35초씩 늦게 껐다가 켜짐) */
	/* -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out; */
}



/* a */

a {
	color: inherit;
	text-decoration: none;
	/* -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out; */
}



/* hover */


/* a.hover */

a:hover {
	/* background-color: black; */
	color: white;
	/* -webkit-text-stroke: 0.5px white; */
	/* border-bottom-color: transparent; */
	border-radius: 0.5rem;
	background-color: none;
}

.float_hover:hover {
	background-color: white;
	height: 50px;
	margin-top: 18px;
	height: 50px;
	width: 50px;
	position: sticky;
	/* 화면에서 고정 위치에 놓습니다 */
	top: 40%;
	/* 화면 높이의 50%에서 고정됩니다 */
	right: 0px;
	z-index: 300;
	/* 다른 요소 위에 표시될 수 있도록 설정합니다 */
	float: right;
	margin: 15px;
}

.side-hover:hover {
	color: white !important;
	background-color: black !important;
	border-radius: 0.5rem;
	padding: 1.5%;
}

a.Board-hover {
	text-decoration: none;
	color: black;
}

a.Board-hover:hover {
	text-decoration: underline;
}

select:hover {
	border: 2px solid rgb(170, 170, 170);
}

/* button.hover */

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
	position: relative;
	display: inline-block;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 0.5em;
	text-decoration: none;
	border: 2px solid black;
	cursor: pointer;
	outline: 0;
	font-weight: 300;
	-webkit-text-stroke: 0.4px white;
}

input[type="text"]:hover {
	border: 2px solid lightgray;
}


/* 탈퇴하기 button */

.getout {
	width: 3%;
	height: 5%;
	color: black;
	background-color: white;
}

.getout_button,
.getout .getout_button {
	border: none;
	color: black;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border-radius: 16px;
	text-decoration: none;
	margin-top: 300px;
}

button.getout-hover:hover {
	color: black !important;
}






.header_carini.carini-hover {
  margin-top: 107px;
}

