body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* 메인 컨테이너 스타일링 */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이에 맞추어 세로 중앙 정렬 */
}

/* 아이디 찾기/비밀번호 변경 박스 스타일링 */
.find_box {
    background-color: #FFCC4C;
    width: 750px;
    height: 450px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

/* 헤더 스타일링 */
.find_header {
    text-align: center;
    margin-bottom: 20px;
}

.find_header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 28px;
}
#find_pw {
    opacity: 30%;
}

/* 메인 콘텐츠 스타일링 */
#find_main {
	padding: 2px;
    background-color: #f9f9f9;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
	height: 400px;
}

#find_main span {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.find_main_id, .find_main_tel {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.find_main_id {
    width: calc(100% - 80px); /* 버튼 고려한 너비 계산 */
    margin-left: 8px;
}

/* 입력란 스타일링 */
#find_main input[type="text"] {
    width: calc(100% - 80px); /* 버튼 고려한 너비 계산 */
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px 0 0 4px;
    margin-right: -4px; /* 인풋과 버튼 사이 간격 조정 */
    font-size: 20px; /* 폰트 사이즈 설정 */
}

/* 확인 버튼 스타일링 */
#find_main button {
    padding: 9px 20px;
    background-color: #FFCC4C;
    color: #ffffff;
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
    font-size: 20px; /* 폰트 사이즈 설정 */
}

#find_main button:hover {
	opacity: 80%;
}

팝업 관련 스타일링 */
#popup_hidden span {
    color: rgb(255, 0, 0);
}

#close-popup {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px; /* 여백 설정 */
}

.popup_hidden {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    text-align: center;
}

#popup {
    background-color: rgb(237, 237, 237);
}



#c_num {
    margin-top: 30px;
    margin-bottom: 0;
}

#timer_wrapper {
    display: flex;
}

#timer {
    margin: 5px;
}

.bold {
    font-weight: bold;
}

.find_main_tel {
    height: 43px;
    white-space: nowrap;
    margin-bottom: 8%;
    width: 80%;
}

#nickname_title {
    margin-left: 6px;
}

#insert_nickname , .find_main_tel {
    margin: 20px auto;
}


#insert_nickname {
    width: 91%;
    margin-left: 64px;
    /* margin-bottom: 15px; */
}

#c_num{
    margin-top: 55px;
}

* {
    font-size: 20px !important;
    font-weight: bold !important;
}


