
* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;

}



/* body */

body {
   height: 100%;
   width: 100%;
    background: white;
    color: #5b5b5b;
    margin: 0;
    padding: 0;
 }



/* 우측 아이콘 */
 
#float_icons {
    position: sticky; /* 화면에서 고정 위치에 놓습니다 */
    top: 40%; /* 화면 높이의 50%에서 고정됩니다 */
    bottom : 50%;
    right: 0px;
    z-index: 300; /* 다른 요소 위에 표시될 수 있도록 설정합니다 */
    float: right;   
    background-color: white;
 }
 
 
 #float_icons a {
    margin-top: 18px; /* 아이콘 사이의 간격을 5px로 설정합니다 */
    display: block;
    margin-right: 15px;
    background-color: white;
 }
 
 #float_icons img {
    width: 50px;
    height: auto;
    opacity: 85%;
    background-color: white;
 }



 /* Header */

header {
    width: 100%;
    position: relative;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2%;
    cursor: default;
    height:250px;
 }

/* 박스적용 css */

 .div {
    width: 100%;
    height: 5%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}



 /* 소제목 */

/* 소제목 영역 */
 section {  
    height: 50px;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 5% 16%;
}

/* 소제목 : SELECT_MODEL */
.SubTitle {   
    font-size: 70px;
    font-weight: 1000;
    color: black;
    width: 70%;
    height: 10%;
    display: flex;
    flex-direction: column;
 }

 /* 소제목밑에글씨 */
 #SubTitle_text {
    display: inline;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    text-align: center;
    font-size: 30px;
    color: black;
}
  
  
 main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /*background-color: blue;*/
}

section{
    width: 70%;
    height: 100%;
}

    
/* Container */

.container {
    justify-content: center;
    align-items: center;
    width: 1200px;
}

/* 세로박스 */
.flex-container_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 85%;
    height: 90%;
    /*background-color: red;*/
}

/* 가로박스 */
.flex-container_row { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 85%;
    height: 90%;
    flex-wrap: wrap;
    /*background-color: yellow;*/
}


.flex-container > div {
    background-color: white;
    text-align: center;
}


select:hover {
   margin: 0% !important;
}

::placeholder {
   opacity: 50%;
}


/* 카드박스들 */

.card {
    display: flex;
    flex-direction: row;
    margin: 5px; /* 카드 박스 간격 조정 */
    border: white !important;
}

#goToComparison {
   border: 1px solid whitesmoke;
}

#goToComparison:hover {
   border: 1px solid whitesmoke;
}


.card-img-top {
   border: 0px;
}

.card-img-top:hover {
   border: 0px;
}






.card-title,.card-text {
   color: black !important;
   text-decoration: none !important;
   padding: 2%;
   text-align: center;
}

card-title:hover {
   background-color: white;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 0px !important;
}


a {
   text-decoration: none !important;
   padding: 0%;

}


*, ::after, ::before {
    box-sizing: content-box !important;
}
 ::after, ::before {
    box-sizing: none;
}

.card-body:hover {
   background-color: white;

}



.card:hover {
   padding:0px !important;
   margin: 0px!important;
}



/* 페이지 번호 디자인 */
 /* 번호 색상 검은색으로 변경 */
.page-item a {
    color: black !important;
    border: 0px !important;
    text-decoration: none !important;
    width: 250px !important;
    margin-right: 15px;
}

/* 페이지 번호 hover 색상 변경 */
.page-item a:hover {
    color: lightgray;
    text-decoration: underline;
}

/* 현재 페이지 번호 색상 변경 */
.page-item.active a {
    color: black !important;
        text-decoration: underline !important;
}

/* Main */

        



 /* Table */
table {
    width: 60%;
    font-size: 18px;
    text-align: center;
    border-collapse: collapse;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

th, td {
    padding: 2% 5%;
    text-align: center;
}

th {
    background-color: white;
    color: black;
    font-weight: bold;
    font-weight: 900;
}

tr {
    background-color: white;
}


th:nth-child(1), td:nth-child(1) {
    width: 25%;
}

th:nth-child(2), td:nth-child(2) {
    width: 70%;
}




#priceSlider { /* 가격 */
    height: 10px;
}
#priceSlider .slider-container {
    width: 300px;
    position: relative;
    text-align: center;
}



.price-display {
    margin-top: 60px;
    font-size: 1.2em;
}
#priceSlider .noUi-connect {
    background: rgb(204, 219, 232);
}

#priceSlider .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}

 /* Table : bootstrap */
#comparisonTable {
   border-collapse: collapse;
    table-layout: fixed;
    margin: 0% 10%;
    width: 80%;
}

#comparisonTable th, #comparisonTable td {
    text-align: center; /* 중앙 정렬 */
}

#comparisonTable th:nth-child(1), #comparisonTable td:nth-child(1) {
    width: 45%; /* 첫 번째 열 너비 */
}

#comparisonTable th:nth-child(2), #comparisonTable td:nth-child(2) {
    width: 10%; /* 두 번째 열 너비 */
}

#comparisonTable th:nth-child(3), #comparisonTable td:nth-child(3) {
    width: 45%; /* 세 번째 열 너비 */
}

/* 고정된 표의 행 높이 설정 */
#comparisonTable tbody tr {
    height: 50px; /* 원하는 높이로 변경 */
}

canvas[id^="car1Chart"],
canvas[id^="car2Chart"] {
    height: 30px;
}

.Model {
       display: flex;
       flex-direction: column;
       margin: 0;
       padding: 10%;
       width: 80%;
}

#Model_Search {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 5%;
    color: black;
    font-size: 25px;
}



input[type="range"] {
    width: 100%;
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]:nth-of-type(2) {
    z-index: 2;
}

form {
   display: flex;
   align-items: center;
   justify-content: center;
}






/* Form요소 - Input, textarea, select */

input, textarea, select {
    font-size: 15pt;
    line-height: 1.85em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
 }

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"],
form select,
form textarea {
    background: white;
    border-radius: 0.5rem; /* 이거 왜 안 먹지 */
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
    width: 50%;
    height: 80%;
}




form textarea {
    min-height: 9em;
}

#search {
    height: 15px;
    width: 30px;
}


 

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.center {
    text-align: center;
}

#carCombineRadarChartTR {
    display: none;
    cursor: pointer;
    
}


#comparisonTable td {
    text-align: center; /* Center align text and elements inside td */
    vertical-align: middle; /* Vertically align elements to the middle */
}

#carRadarChart td canvas,
#carCombineRadarChart {
    display: block; /* Ensure canvas is a block element */
    margin-left: auto; /* Center canvas horizontally */
    margin-right: auto; /* Center canvas horizontally */
    cursor: pointer;
}

/* 검색창 디자인 */


#filterSize, #filterFuel, #carSort {
   width: 400px;
}

#filterSize:hover,
#filterFuel:hover,
 #carSort:hover {
   width: 400px;
   border: 2px solid gray;
}







/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    padding: 2px;
    position: relative;
    display: inline-block;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 0.5rem !important;
    text-decoration: none;
    padding: 0.65em 3em 0.65em 3em;
    border: 2px solid black;
    cursor: pointer;
    outline: 0;
    font-weight: 300;
    -webkit-text-stroke: 0.4px black;
    /* 버튼 화면전환 효과 (0.35초씩 늦게 껐다가 켜짐) */
    /* -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out; */
}

    

/* a */

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
   
    
    /* -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out; */
 }





/* hover */
*:hover {
   cursor: pointer;
}


/* a.hover */

 a:hover { 
   font-weight: bolder;
   opacity: 50%;
}

a.icon-hover:hover {
 background-color: white;
}

.float_hover:hover {
 background-color: white;
}




/* button.hover */

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
    background: black;
    color: white;
    -webkit-text-stroke: 0.3px white;
    }
    






/* checkbox */

.checkbox {
    flex: 0 0 50px; /* 고정 크기 */
}



/* footer */

hr {
    position: relative;
    display: block;
    border: 0;
    top: 4.5em;
    margin-bottom: 9em;
    height: 6px;
    border-top: solid 1px rgba(128, 128, 128, 0.2);
    border-bottom: solid 1px rgba(128, 128, 128, 0.2);
}

footer {
   margin-top: 50px;
   width: 100%;
   height: 50px;
   margin-bottom: 50px;
   align-items: center;
   text-align: center;
   background-color: white;
 }
 
 
 
 
 
 
 
 
 
 
 
 /* bootstrap에 다듬는 css 추가 */
 #comparisonSection {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
 }
  
  



