@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600);

a,
body,
center,
dd,
div,
footer,
form,
header,
html,
img,
label,
li,
span,
table,
td,
th,
tr,
ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline
}

footer,
header {
   display: block
}

body {
   line-height: 1
}

ul {
   list-style: none
}

table {
   border-collapse: collapse;
   border-spacing: 0
}

body {
   -webkit-text-size-adjust: none
}

input::-moz-focus-inner {
   border: 0;
   padding: 0
}

input,
select {
   -moz-appearance: none;
   -webkit-appearance: none;
   -ms-appearance: none;
   appearance: none
}

html {
   box-sizing: border-box
}

*,
:after,
:before {
   box-sizing: inherit
}

body {
   background: #f0f4f4;
   color: #5b5b5b;
   font-size: 15pt;
   line-height: 1.85em;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300
}

body.is-preload *,
body.is-preload :after,
body.is-preload :before {
   -moz-animation: none !important;
   -webkit-animation: none !important;
   -ms-animation: none !important;
   animation: none !important;
   -moz-transition: none !important;
   -webkit-transition: none !important;
   -ms-transition: none !important;
   transition: none !important
}

input,
select {
   font-size: 15pt;
   line-height: 1.85em;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300
}

a {
   color: inherit;
   border-bottom: solid 1px rgba(128, 128, 128, .15);
   text-decoration: none;
   -moz-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -webkit-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -ms-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out
}

a:hover {
   color: #ef8376;
   border-bottom-color: transparent
}

table,
ul {
   margin-bottom: 1em
}

.container {
   margin: 0 auto;
   max-width: 100%;
   justify-content: center
}

@media screen and (max-width:1680px) {
   .container {
      width: 1200px
   }
}

@media screen and (max-width:1280px) {
   .container {
      width: 100%
   }
}

@media screen and (max-width:960px) {
   .container {
      width: 100%
   }
}

@media screen and (max-width:840px) {
   .container {
      width: 100%
   }
}

@media screen and (max-width:736px) {
   .container {
      width: 100%
   }
}

.wrapper.style1 {
   display: flex
}

header {
   margin: 0 0 1em 0
}

ul {
   list-style: disc;
   padding-left: 1em
}

ul li {
   padding-left: .5em
}

form label {
   display: block;
   font-weight: 400;
   color: #483949;
   margin: 0 0 1em 0
}

form input[type=email],
form input[type=password],
form input[type=text],
form select {
   -webkit-appearance: none;
   display: block;
   border: 0;
   background: #fafafa;
   width: 100%;
   border-radius: .5em;
   border: solid 1px #e5e5e5;
   padding: 1em;
   -moz-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
   -webkit-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
   -ms-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
   transition: background-color .35s ease-in-out, border-color .35s ease-in-out
}

form input[type=email]:focus,
form input[type=password]:focus,
form input[type=text]:focus,
form select:focus {
   background: #fff;
   border-color: #df7366
}

form input[type=email],
form input[type=password],
form input[type=text],
form select {
   line-height: 1em
}

form ::-webkit-input-placeholder {
   color: #555 !important
}

form :-moz-placeholder {
   color: #555 !important
}

form ::-moz-placeholder {
   color: #555 !important
}

form :-ms-input-placeholder {
   color: #555 !important
}

form ::-moz-focus-inner {
   border: 0
}

table {
   width: 100%
}

.wrapper.style2 {
   padding-top: 0
}

#header {
   position: relative;
   background-image: url(../../images/header.jpg);
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   color: #fff;
   text-align: center;
   padding: 7.5em 0 2em 0;
   cursor: default
}

#header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%
}

#header header {
   display: inline-block;
   background-color: #000
}

#header .button {
   display: inline-block;
   border-radius: 100%;
   width: 4.5em;
   height: 4.5em;
   line-height: 4.5em;
   text-align: center;
   font-size: 1.25em;
   padding: 0
}

#header footer {
   margin: 1em 0 0 0
}

.dropotron {
   background: rgba(255, 255, 255, .975);
   padding: 1em 1.25em 1em 1.25em;
   line-height: 1em;
   height: auto;
   text-align: left;
   border-radius: .5em;
   box-shadow: 0 .15em .25em 0 rgba(0, 0, 0, .25);
   min-width: 12em;
   margin-top: -1em;
   list-style: none
}

.dropotron li {
   border-top: solid 1px rgba(128, 128, 128, .2);
   color: #5b5b5b;
   padding-left: 0
}

.dropotron li:first-child {
   border-top: 0
}

.dropotron li:hover {
   color: #ef8376
}

.dropotron li a,
.dropotron li span {
   display: block;
   border: 0;
   padding: .5em 0 .5em 0;
   -moz-transition: color .35s ease-in-out;
   -webkit-transition: color .35s ease-in-out;
   -ms-transition: color .35s ease-in-out;
   transition: color .35s ease-in-out
}

footer {
   margin-top: 50px;
   width: 100%;
   height: 100px;
   margin-bottom: 0
}

footer img {
   height: 150px
}

#main {
   margin-bottom: 0;
   align-items: center;
   justify-content: center
}

@media screen and (max-width:1680px) {

   body,
   input,
   select {
      font-size: 14pt;
      line-height: 1.75em
   }
}

@media screen and (max-width:1280px) {

   body,
   input,
   select {
      font-size: 12pt;
      line-height: 1.5em
   }

   .wrapper {
      padding-left: 2em;
      padding-right: 2em
   }

   #header {
      background-attachment: scroll
   }

   #footer {
      padding-left: 2em;
      padding-right: 2em
   }
}

@media screen and (max-width:840px) {

   body,
   input,
   select {
      font-size: 13pt;
      line-height: 1.65em
   }

   #footer {
      padding: 4em 2em 4em 2em
   }
}

@media screen and (max-width:736px) {

   body,
   html {
      overflow-x: hidden
   }

   body,
   input,
   select {
      font-size: 12.5pt;
      line-height: 1.5em
   }

   .button,
   button,
   input[type=button],
   input[type=reset],
   input[type=submit] {
      display: block;
      padding: 0;
      line-height: 3em;
      width: 100%
   }

   #page-wrapper {
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transition: -moz-transform .5s ease;
      -webkit-transition: -webkit-transform .5s ease;
      -ms-transition: -ms-transform .5s ease;
      transition: transform .5s ease;
      padding-bottom: 1px
   }

   .wrapper {
      padding: 3em 1em 3em 1em
   }

   #header {
      background-attachment: scroll;
      padding: 2.5em 0 0 0
   }

   #main>header {
      text-align: center
   }

   #footer {
      padding-left: 1em;
      padding-right: 1em
   }
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 10%
}

.container {
   margin: auto;
   justify-content: center;
   align-items: center;
   width: 1400px
}

#my_board_box {
   border-bottom: 1px solid #000;
   overflow: hidden;
   margin-top: 95px
}

ul {
   padding: 0;
   margin: 0;
   list-style-type: none
}

.my_board_list {
   display: flex;
   align-items: center;
   padding: 5px 0 18px 18px;
   height: 50px
}

.content {
   margin-top: 25px;
   font-size: 22px
}

.content a {
   background-color: rgba(255, 255, 255, .15)
}

.my_board_list input[type=checkbox] {
   margin-right: 10px
}

#my_board_header {
   background-color: #333;
   color: #fff;
   font-weight: 700;
   font-size: 25px;
   height: 70px;
   padding: 5px 0 18px 15px
}

.my_board_list:last-child {
   border-bottom: none
}

.my_board_list .checkbox {
   flex: 0 0 50px
}

.my_board_list .content {
   flex: 1;
   display: flex
}

.my_board_list .content>div {
   flex: 1
}

#my_board_main {
   padding: 10px
}

.align_center {
   text-align: center;
   margin-left: 50px;
   white-space: nowrap
}

button {
   cursor: pointer
}

#board_page {
   position: relative;
   display: flex;
   margin-top: 70px;
   width: 100%;
   height: 30px;
   justify-content: center;
   text-align: center;
   display: flex
}

.page_button {
   margin: 0 15px;
   background-color: #f2f2f2;
   border: none;
   cursor: pointer
}

button {
   cursor: pointer
}

a {
   cursor: pointer
}

span {
   cursor: pointer
}

.active-page {
   font-weight: 700;
   color: #000
}

.wrapper_title {
   max-width: 300px;
   overflow: hidden
}

.container {
   width: 100%;
   max-width: 800px;
   margin: 0 auto
}

#my_board_box {
   width: 100%;
   overflow-x: auto
}

#board_list {
   list-style-type: none;
   padding: 0
}

#notice_header {
   display: flex;
   background-color: #000;
   color: #fff;
   font-size: 20px;
   padding: 10px;
   height: 60px;
   align-items: center
}

.header_notice {
   flex: 1;
   text-align: center
}

.my_board_list {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
   padding: 10px
}

.notice_content1,
.notice_content2,
.notice_content3,
.notice_content4,
.notice_content5 {
   flex: 1;
   text-align: center;
   font-weight: 700
}

.notice_content2 {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   align-items: center
}