a,
body,
div,
form,
html,
img,
label,
object,
p,
section,
table,
td,
th,
tr {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline
}

section {
   display: block
}

body {
   line-height: 1
}

table {
   border-collapse: collapse;
   border-spacing: 0
}

body {
   -webkit-text-size-adjust: none
}

input::-moz-focus-inner {
   border: 0;
   padding: 0
}

input {
   -moz-appearance: none;
   -webkit-appearance: none;
   -ms-appearance: none;
   appearance: none
}

html {
   box-sizing: border-box
}

*,
:after,
:before {
   box-sizing: inherit
}

body {
   background: #f0f4f4;
   color: #5b5b5b;
   font-size: 15pt;
   line-height: 1.85em;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300
}

body.is-preload *,
body.is-preload :after,
body.is-preload :before {
   -moz-animation: none !important;
   -webkit-animation: none !important;
   -ms-animation: none !important;
   animation: none !important;
   -moz-transition: none !important;
   -webkit-transition: none !important;
   -ms-transition: none !important;
   transition: none !important
}

input {
   font-size: 15pt;
   line-height: 1.85em;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300
}

a {
   color: inherit;
   border-radius: .5rem;
   text-decoration: none;
   -moz-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -webkit-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -ms-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out
}

a:hover {
   color: #ef8376;
   border-bottom-color: transparent
}

p,
table {
   margin-bottom: 1em
}

p {
   text-align: justify
}

.container {
   margin: 0 auto;
   max-width: 100%;
   justify-content: center
}

@media screen and (max-width:1680px) {
   .container {
      width: 1200px
   }
}

@media screen and (max-width:1280px) {
   .container {
      width: 100%
   }
}

@media screen and (max-width:960px) {
   .container {
      width: 100%
   }
}

@media screen and (max-width:840px) {
   .container {
      width: 100%
   }
}

@media screen and (max-width:736px) {
   .container {
      width: 100%
   }
}

#sidebar_section {
   width: 100%;
   height: 100%;
   justify-content: center;
   text-align: center;
   align-items: center;
   max-width: 150px;
   margin-left: 20px
}

#sidebar_section {
   width: 500px;
   height: 600px
}

.wrapper.style1 {
   display: flex
}

section {
   margin-bottom: 3em
}

section:last-child,
section>:last-child {
   margin-bottom: 0
}

form label {
   display: block;
   font-weight: 400;
   color: #483949;
   margin: 0 0 1em 0
}

form input[type=email],
form input[type=password],
form input[type=text],
form textarea {
   -webkit-appearance: none;
   display: block;
   border: 0;
   background: #fafafa;
   width: 100%;
   border-radius: .5em;
   border: solid 1px #e5e5e5;
   padding: 1em;
   -moz-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
   -webkit-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
   -ms-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
   transition: background-color .35s ease-in-out, border-color .35s ease-in-out
}

form input[type=email]:focus,
form input[type=password]:focus,
form input[type=text]:focus,
form textarea:focus {
   background: #fff;
   border-color: #df7366
}

form input[type=email],
form input[type=password],
form input[type=text] {
   line-height: 1em
}

form textarea {
   min-height: 9em
}

form ::-webkit-input-placeholder {
   color: #555 !important
}

form :-moz-placeholder {
   color: #555 !important
}

form ::-moz-placeholder {
   color: #555 !important
}

form :-ms-input-placeholder {
   color: #555 !important
}

form ::-moz-focus-inner {
   border: 0
}

table {
   width: 100%
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
   position: relative;
   display: inline-block;
   background: #df7366;
   color: #fff;
   text-align: center;
   border-radius: .5em;
   text-decoration: none;
   padding: .65em 3em .65em 3em;
   border: 0;
   cursor: pointer;
   outline: 0;
   font-weight: 300;
   -moz-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -webkit-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -ms-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out
}

.button:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
   color: #fff;
   background: #ef8376
}

.button.alt,
button.alt,
input[type=button].alt,
input[type=reset].alt,
input[type=submit].alt {
   background: #2b252c
}

.button.alt:hover,
button.alt:hover,
input[type=button].alt:hover,
input[type=reset].alt:hover,
input[type=submit].alt:hover {
   background: #3b353c
}

.wrapper.style2 {
   padding-top: 0
}

#sidebar {
   width: 30%;
   background-color: #f5f5f5;
   border-radius: .5rem;
   padding: 2%;
   float: left
}

#sidebar>section {
   margin-bottom: 0
}

.Board_text {
   font-size: 45px;
   font-weight: 700;
   color: #000
}

table {
   width: 100%;
   border-collapse: collapse;
   border-top: 1px solid #000;
   border-bottom: 1px solid #000
}

td,
th {
   padding: 10px;
   text-align: center;
   border: none
}

th {
   background-color: #333;
   color: #fff;
   font-weight: 700
}

tr:nth-child(even) {
   background-color: #f2f2f2
}

a.Board-hover {
   text-decoration: none;
   color: #000
}

.container {
   margin: auto;
   justify-content: center;
   align-items: center;
   width: 1200px
}

.Board {
   display: flex;
   align-items: center
}

.Board input[type=text] {
   margin-right: 10px;
   padding: 5px
}

.Board input[type=button] {
   padding: 3.5px 5px;
   cursor: pointer
}

.Board_text {
   font-size: 45px;
   font-weight: 700;
   color: #000
}

body {
   background: #fff;
   font-family: 'Source Sans Pro', sans-serif
}

a:hover {
   text-decoration: none;
   text-shadow: 0 0 #fff
}

a.title-hover:hover {
   color: #fff;
   background-color: #000;
   -webkit-text-stroke: .5px #fff;
   border-bottom-color: transparent;
   border-radius: .5rem
}

#button_section a:hover {
   color: #000;
   border-bottom-color: transparent;
   border-radius: .5rem;
   border: 2px solid #fff
}

a.icon-hover:hover {
   background-color: #fff
}

.dropotron {
   background: rgba(255, 255, 255, .975);
   padding: 1em 1.25em 1em 1.25em;
   line-height: 1em;
   height: auto;
   text-align: left;
   border-radius: .5em;
   box-shadow: 0 .15em .25em 0 rgba(0, 0, 0, .25);
   min-width: 12em;
   margin-top: -1em;
   list-style: none
}

#content>section {
   margin-bottom: 0
}

#sidebar>section {
   margin-bottom: 0
}

#main {
   margin-bottom: 0;
   align-items: center;
   justify-content: center
}

#main section:first-of-type {
   padding-top: 2em
}

@media screen and (max-width:1680px) {

   body,
   input,
   textarea {
      font-size: 14pt;
      line-height: 1.75em
   }
}

@media screen and (max-width:1280px) {

   body,
   input,
   textarea {
      font-size: 12pt;
      line-height: 1.5em
   }

   .wrapper {
      padding-left: 2em;
      padding-right: 2em
   }
}

@media screen and (max-width:840px) {

   body,
   input,
   textarea {
      font-size: 13pt;
      line-height: 1.65em
   }
}

@media screen and (max-width:736px) {

   body,
   html {
      overflow-x: hidden
   }

   body,
   input,
   textarea {
      font-size: 12.5pt;
      line-height: 1.5em
   }
}

table,
td,
tr {
   border: 2px solid #fff !important;
   border-radius: .5rem;
   box-shadow: 3px 3px 4px rgba(0, 0, 0, .1)
}

td,
tr {
   border-style: solid !important;
   border-width: 2px !important;
   border-radius: .5rem;
   border: 2px solid #fff !important
}

.container {
   margin-top: 60px
}

#content {
   height: 300px
}

td {
   background-color: #f5f5f5;
   border-radius: .5rem
}

.gangjo {
   background-color: #000;
   color: #fff;
   border: 2px solid #fff
}

#uploadFile_div {
   display: flex;
   width: 100px;
   white-space: nowrap;
   font-size: 15px;
   gap: 10px
}

#uploadFile_div {
   height: 20px
}

#uploadFile img {
   width: 20px;
   margin: auto 0
}

#button_section {
   display: flex
}

.change_list {
   display: flex;
   width: 100%;
   flex-direction: row-reverse
}

.change_list a {
   margin: 0 !important;
   padding: 10px 20px !important;
   border: 1px solid #000 !important
}

#board_info textarea {
   border: 2px solid red;
   width: 100%;
   height: 20em;
   border: none;
   resize: none;
   font-size: larger
}

.field-error {
   border-color: #dc3545;
   color: #dc3545;
}