* {
	margin: 0;
	padding: 0;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	letter-spacing: 2px;
	cursor: default;
}





/* body */

body {
	background: white;
	color: #5b5b5b;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}


/* 소제목 */

/* 소제목 영역 */
section {
	height: 50px;
	width: 100%;
	text-align: center;
	align-items: center;
	margin: 5% 16%;
}

/* 소제목 */
.SubTitle {
	font-size: 60px;
	font-weight: 1000;
	color: black;
	width: 70%;
	height: 10%;
	display: flex;
	flex-direction: column;
	letter-spacing: 6px;

}


/* 소제목 소개글 */
#SubTitle_Text {
	display: inline;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	text-align: center;
	font-size: 30px;
	color: black;
}



/* Main */

main {
	height: 1000px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}


/* form */

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}


/* 박스적용 css */

.div {
	width: 100%;
	height: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1%;
}


/* Container */

.container {
	margin: auto;
	justify-content: center;
	align-items: center;
	width: 1200px;
}

/* 세로박스 */
.flex-container_column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1%;
	width: 90%;
	height: 95%;
}

/* 가로박스 */
.flex-container_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1%;
	width: 90%;
	height: 90%;

}

.flex-container>div {
	background-color: white;
	text-align: center;
}

/* 각 라인들을 감싸는 박스 */
.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: white;
}

.flex-container>div {
	background-color: white;
	text-align: center;
}








/* Table */

table {
	padding: 1%;
	width: 90%;
	border-collapse: collapse;
	font-size: 20px;
	font-weight: 700;
	border-bottom: 2px solid black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


th,
td {
	padding: 1%;
	text-align: center;
	background-color: white;
	height: 25%;
}


th {
	border-bottom: 1.5px solid #BFBCBA;
	border-top: 1.5px solid #BFBCBA;
	background-color: #BFBCBA;
	border-right: 3px solid white;
	color: white;
	font-weight: bold;
}

tr {
	background-color: white;
}

.title_line:hover {
	text-decoration: underline;
}

/* 수정하기 버튼 */

#edit_save_td {
	color: black;
	background-color: white;
	border: 3px solid black;
	width: 120px;
	height: 50px;
	cursor: pointer;
	padding: 1%;
	font-weight: bold;
}

#edit_save_td:hover {
	color: white;
	background-color: black;
	border: 3px solid black;
	font-weight: bold;
	width: 120px;
	height: 50px;
	cursor: pointer;
	padding: 1%;
}



/* input요소 : table에 td자리 */


input[type="text"],
input[type="password"],
input[type="tel"],
input[type="submit"] {
	background: white;
	border-radius: 0.5em;
	border: 2px solid lightgray;
	margin: 1%;
	padding: 2%;
	padding-left: 3%;
	cursor: text;
	font-size: 18px;
	font-weight: 500;
}



input[type="email"] {
	width: 260px;
	height: 30px;
	background: white;
	padding: 2%;
	padding-left: 3%;
	border-radius: 0.5em;
	border: 1.5px solid whitesmoke;
	cursor: text;
	font-size: 18px;
	font-weight: 500;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	appearance: checkbox;
}




#search {
	height: 15px;
	width: 30px;
}



/* a */

a {
	text-decoration: none;
	cursor: pointer;
	color: #333;
}


/* a.hover */

a:hover {
	cursor: pointer;
}

.list {
	text-decoration: none;
	padding: 5px 10px;
	text-align: center;
	border: 2px solid #BFBCBA;
	cursor: pointer;
	border-radius: 0.5rem;
	color: #333;
}




.list:hover {
	text-decoration: none;
	padding: 5px 10px;
	text-align: center;
	border: 2px solid #FFCC4C;
	border-radius: 0.5rem;
	cursor: pointer;
}


/* 각 종 hover들 */



.side-hover:hover {
	color: white !important;
	background-color: black !important;
	border-radius: 0.5rem;
	padding: 1.5%;
}

a.Board-hover {
	text-decoration: none;
	color: black;
}

a.Board-hover:hover {
	text-decoration: underline;
}

select:hover {
	border: 2px solid rgb(170, 170, 170);
}

/* 자세히 보기 */
.btn:hover {
	color: black;
	text-shadow: 1px 1px 1px 1px white;

}


.information_box {
	width: 130%;
	height: 100%
}




#Favorites_box {

	height: 90%;
	width: 75%;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

#Favorites_box>P {
	float: left;
	flex-direction: row;
	font-size: 45px;
	font-weight: 700;
	color: #000;
}

.card {
	margin: 10px;
	padding: 1%;
	;
	text-align: center;
	height: 350px;
	background-color: #fff;
}

.card-text {
	padding: 8% 1%;
}

.card_box {
	height: 800px;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	overflow: scroll;
	overflow-x: hidden;
}

.card-title {
	font-weight: 700;
	background-color: whitesmoke;
	height: 15px;
	padding-bottom: 10px;
}

.card:hover {
	background-color: #f5f5f5;
	border-radius: 30px;
	box-shadow: inset 0 1px 0 0 rgba(192, 192, 192, .35);
}

.card_button_box {
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	font-weight: 700;
}

.delete_button {
	background-color: whitesmoke;
	display: flex;
	width: 30px;
	height: 30px;
	border: 0px;
	align-items: center;
	justify-content: center;
	margin-left: 12px;
	padding: 0%;
}

#member_quit {
	font-size: 13px;
	height: 25px;
	width: 70px;
	color: black;
	background-color: white;
	padding: 0%;
	border: 0px;
	margin-left: 900px;
}

#first_card_box {
	width: 100%
}

.card-img-top {
	width: 280px
}

/* 닉네임 옆에 연필모양 버튼 */
.pencil-button {
	padding: 0% !important;
	margin: 0%;
	border: 0px;
	cursor: pointer;
	width: 10%;
}


.pencil-button:hover {
	padding: 0%;
	margin: 0%;
	border: 0px;
	cursor: pointer;
	width: 10%;
	background-color: white;
}

/* 연필 이미지 */
#pencil:hover {
	background-color: white;
}