@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600);

a,
article,
body,
div,
footer,
form,
header,
html,
i,
img,
p,
span,
table,
td,
th,
tr {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline
}

article,
footer,
header {
   display: block
}

body {
   line-height: 1;
   font-family: 'Source Sans Pro', sans-serif;
   -webkit-text-size-adjust: none
}

table {
   border-collapse: collapse;
   border-spacing: 0
}

input::-moz-focus-inner {
   border: 0;
   padding: 0
}

input {
   -moz-appearance: none;
   -webkit-appearance: none;
   -ms-appearance: none;
   appearance: none
}

html {
   box-sizing: border-box
}

*,
:after,
:before {
   box-sizing: inherit
}

body {
   background: #fff;
   color: #5b5b5b;
   font-size: 15pt;
   line-height: 1.85em;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300
}

body.is-preload *,
body.is-preload :after,
body.is-preload :before {
   -moz-animation: none !important;
   -webkit-animation: none !important;
   -ms-animation: none !important;
   animation: none !important;
   -moz-transition: none !important;
   -webkit-transition: none !important;
   -ms-transition: none !important;
   transition: none !important
}

input {
   font-size: 15pt;
   line-height: 1.85em;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300
}

i {
   font-style: italic
}

a {
   color: inherit;
   text-decoration: none;
   -moz-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -webkit-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -ms-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out
}

a:hover {
   background-color: #000;
   color: #fff;
   -webkit-text-stroke: .5px #fff;
   border-bottom-color: transparent;
   border-radius: .5rem;
   background-color: none
}

a.title-hover:hover {
   background-color: #ddd;
   color: #000;
   -webkit-text-stroke: 0
}

a.icon-hover:hover {
   background-color: #fff
}

::placeholder {
   opacity: .6
}

p,
table {
   margin-bottom: 1em
}

p {
   text-align: justify
}

hr {
   position: relative;
   display: block;
   border: 0;
   top: 4.5em;
   margin-bottom: 9em;
   height: 6px;
   border-top: solid 1px rgba(128, 128, 128, .2);
   border-bottom: solid 1px rgba(128, 128, 128, .2)
}

hr:after,
hr:before {
   content: '';
   position: absolute;
   top: -8px;
   display: block;
   width: 1px;
   height: 21px;
   background: rgba(128, 128, 128, .2)
}

hr:before {
   left: -1px
}

hr:after {
   right: -1px
}

.container {
   margin: 0 auto;
   max-width: 100%;
   justify-content: center
}

.container.special {
   display: flex;
   align-items: center;
   justify-content: centers
}

@media screen and (max-width:1680px) {
   .container {
      width: 1200px
   }
}

@media screen and (max-width:1280px) {
   .container {
      width: 100%
   }
}

@media screen and (max-width:960px) {
   .container {
      width: 100%
   }
}

@media screen and (max-width:840px) {
   .container {
      width: 100%
   }
}

@media screen and (max-width:736px) {
   .container {
      width: 100%
   }
}

.sidebar {
   text-align: center;
   width: 20%;
   float: right;
   background-color: #f5f5f5;
   margin: 2%;
   border-radius: .5rem;
   height: 700px
}

.delete_button {
   background-color: #fff;
   display: flex;
   width: 20px;
   height: 20px;
   align-items: center;
   justify-content: center;
   margin-left: 13px;
   padding: 0
}

.delete_button img {
   width: 15px
}

.wrapper.style1 {
   display: flex
}

article {
   margin-bottom: 3em
}

article:last-child,
article>:last-child {
   margin-bottom: 0
}

article.special>footer,
article.special>header {
   text-align: center
}

header>p {
   display: block;
   font-size: 1.5em;
   margin: 1em 0 2em 0;
   line-height: 1.5em;
   text-align: inherit
}

form input[type=email],
form input[type=password],
form input[type=text] {
   -webkit-appearance: none;
   display: block;
   border: 0;
   width: 100%;
   border-radius: .5em;
   border: solid 1px #e5e5e5;
   padding: 1em;
   -moz-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
   -webkit-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
   -ms-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
   transition: background-color .35s ease-in-out, border-color .35s ease-in-out
}

form input[type=email]:focus,
form input[type=password]:focus,
form input[type=text]:focus {
   background: #fff;
   border-color: #df7366
}

form input[type=email],
form input[type=password],
form input[type=text] {
   line-height: 1em
}

form ::-webkit-input-placeholder {
   color: #555 !important
}

form :-moz-placeholder {
   color: #555 !important
}

form ::-moz-placeholder {
   color: #555 !important
}

form :-ms-input-placeholder {
   color: #555 !important
}

form ::-moz-focus-inner {
   border: 0
}

table {
   width: 100%
}

.button,
button,
input[type=email],
input[type=password],
input[type=reset],
input[type=submit],
input[type=tel],
input[type=text] {
   padding: 2px 35px;
   position: relative;
   display: inline-block;
   background-color: #f5f5f5;
   color: #000;
   text-align: center;
   border-radius: .5em;
   text-decoration: none;
   border: 4px solid #fff;
   cursor: pointer;
   outline: 0;
   font-weight: 300;
   -webkit-text-stroke: .4px #000;
   -moz-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -webkit-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -ms-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out
}

.button,
button,
input[type=button] {
   padding: 10% 20%;
   position: relative;
   background-color: #fff;
   border-radius: .5em;
   text-decoration: none;
   border: 2px solid #000;
   cursor: pointer;
   outline: 0;
   font-weight: 300;
   -webkit-text-stroke: .4px #000;
   -moz-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -webkit-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   -ms-transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out;
   transition: background-color .35s ease-in-out, color .35s ease-in-out, border-bottom-color .35s ease-in-out
}

button.pencil-button {
   border: 0;
   padding: 0;
   background-color: #f5f5f5;
   height: 10px;
   width: 10px
}

button.pencil-button:hover {
   background-color: #f5f5f5
}

#member_quit {
   text-align: center;
   color: #000;
   font-size: 10px;
   white-space: nowrap;
	float:right;
	padding:10px 20px;
}

#member_quit:hover {
   -webkit-text-stroke: .4px #736d77;
   background-color: #fff
}

.button:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
   color: #fff;
   background: #000;
   -webkit-text-stroke: .9px #fff
}

.button.alt,
button.alt,
input[type=button].alt,
input[type=reset].alt,
input[type=submit].alt {
   color: #000;
   background: #fff
}

.button.alt:hover,
button.alt:hover,
input[type=button].alt:hover,
input[type=reset].alt:hover,
input[type=submit].alt:hover {
   color: #000;
   background: #fff
}

.pencil_button {
   border: none
}

.eye {
   width: 15px;
   height: 15px
}

.wrapper.style2 {
   padding-top: 0
}

#float_icons {
   position: sticky;
   top: 40%;
   right: 0;
   z-index: 300;
   float: right;
   background-color: #fff
}

#float_icons a {
   margin-top: 18px;
   display: block;
   margin-right: 15px;
   background-color: #fff
}

#float_icons img {
   width: 50px;
   height: auto;
   opacity: 85%;
   background-color: #fff
}

#header {
   position: relative;
   background-color: #000;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   color: #fff;
   text-align: center;
   padding: 2%;
   cursor: default;
   height: 250px
}

#editNickname img {
   width: 20px
}

.Board_text {
   font-size: 45px;
   font-weight: 700;
   color: #000;
   width: 70%;
   height: 10%;
   margin-top: 5%
}

#header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%
}

#header header {
   display: inline-block
}

#header header>p {
   font-size: 1.25em;
   margin: 0
}

#header .button {
   display: inline-block;
   border-radius: 100%;
   width: 4.5em;
   height: 4.5em;
   line-height: 4.5em;
   text-align: center;
   font-size: 1.25em;
   padding: 0
}

#header hr {
   top: 1.5em;
   margin-bottom: 3em;
   border-bottom-color: rgba(192, 192, 192, .35);
   box-shadow: inset 0 1px 0 0 rgba(192, 192, 192, .35)
}

#header hr:after,
#header hr:before {
   background: rgba(192, 192, 192, .35)
}

#header footer {
   margin: 1em 0 0 0
}

.dropotron {
   background: rgba(255, 255, 255, .975);
   padding: 1em 1.25em 1em 1.25em;
   line-height: 1em;
   height: auto;
   text-align: left;
   border-radius: .5em;
   box-shadow: 0 .15em .25em 0 rgba(0, 0, 0, .25);
   min-width: 12em;
   margin-top: -1em;
   list-style: none
}

#content>hr {
   top: 3em;
   margin-bottom: 6em
}

#sidebar>hr {
   top: 3em;
   margin-bottom: 6em
}

footer {
   margin-bottom: 50px;
   align-items: center;
   text-align: center
}

footer img {
   height: 150px
}

#main {
   margin-bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #f5f5f5
}

@media screen and (max-width:1680px) {

   body,
   input {
      font-size: 14pt;
      line-height: 1.75em
   }
}

@media screen and (max-width:1280px) {

   body,
   input {
      font-size: 12pt;
      line-height: 1.5em
   }

   .wrapper {
      padding-left: 2em;
      padding-right: 2em
   }

   #header {
      background-attachment: scroll
   }

   #footer {
      padding-left: 2em;
      padding-right: 2em;
      margin-bottom: 0
   }
}

@media screen and (max-width:840px) {

   body,
   input {
      font-size: 13pt;
      line-height: 1.65em
   }

   #footer {
      padding: 4em 2em 4em 2em
   }
}

@media screen and (max-width:736px) {

   body,
   html {
      overflow-x: hidden
   }

   body,
   input {
      font-size: 12.5pt;
      line-height: 1.5em
   }

   hr {
      top: 3em;
      margin-bottom: 6em
   }

   article {
      margin-bottom: 2em
   }

   article:last-child {
      margin-bottom: 0
   }

   header>p {
      font-size: 1.25em
   }

   .button,
   button,
   input[type=button],
   input[type=reset],
   input[type=submit] {
      display: block;
      padding: 0;
      line-height: 3em;
      width: 100%
   }

   #page-wrapper {
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transition: -moz-transform .5s ease;
      -webkit-transition: -webkit-transform .5s ease;
      -ms-transition: -ms-transform .5s ease;
      transition: transform .5s ease;
      padding-bottom: 1px
   }

   .wrapper {
      padding: 3em 1em 3em 1em
   }

   #header {
      background-attachment: scroll;
      padding: 2.5em 0 0 0
   }

   #header header>p {
      font-size: 1em
   }

   #header hr {
      top: 1em;
      margin-bottom: 2.5em
   }

   #main>header {
      text-align: center
   }

   #footer {
      padding-left: 1em;
      padding-right: 1em;
      margin-bottom: 0
   }
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 10%
}

#info_info_box {
   width: 550px;
   height: 100%;
   margin-right: 200px
}

#info_box {
   height: 80%;
   width: 700px;
   border-collapse: collapse;
   background-color: #f5f5f5;
   box-shadow: 3px 3px 4px rgba(0, 0, 0, .1);
   border-radius: 8px;
   overflow: hidden;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   margin-top: 40px;
   border-radius: .5rem
}

#info_box td,
#info_box th {
   padding: 15px;
   text-align: center
}

#info_box th {
   background-color: #000;
   border: 2px solid #f5f5f5;
   border-radius: .5rem;
   color: #fff;
   font-weight: 400;
   width: 30%
}

#info_box td {
   background-color: #f5f5f5;
   border: 3px solid #fff
}

.edit_info button {
   background-color: #f2f2f2;
   width: 20px;
   height: 20px
}

#info_box tr:nth-child(even) button {
   background-color: #e9e9e9;
   width: 20px;
   height: 20px
}

.edit_info {
   background-color: #ba9bba;
   width: 180px;
   height: 50px
}

.edit_info img {
   width: 15px;
   height: 15px
}

#edit_nickname {
   width: 20px;
   max-width: 20px;
   background-color: #f3f3f3;
   top: 5px;
   left: 28px
}

#edit_nickname img {
   width: 20px
}