* {
   margin: 0;
   padding: 0;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   letter-spacing: 2px;
}



/* body */

body {
   margin: 0;
   padding: 0;
   background-color: black;
   color: white;
}



/* 소제목 */

section {
   /* 소제목 영역 */
   height: 50px;
   width: 100%;
   text-align: center;
   align-items: center;
   margin: 1% 16%;
}

.SubTitle {
   /* 소제목 */
   height: 150px;
   font-size: 130px;
   text-align: center;
   background-color: black;
   color: white;
   display: flex;
   flex-direction: column;
   letter-spacing: 10px;
   cursor: pointer;
}




/* Main */


main {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   margin-bottom: 50px;
}



/* Container */

.container {
   margin: auto;
   justify-content: center;
   align-items: center;
   width: 1200px;
}

/* 세로박스 */
.flex-container_column {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 90%;
}

/* 가로박스 */
.flex-container_row {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 0%;
   width: 95%;
   height: 90%;
}

.flex-container>div {
   background-color: white;
   text-align: center;
}

/* 각 라인들을 감싸는 박스 */
.flex-container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   background-color: white;
}

.flex-container>div {
   background-color: white;
   text-align: center;
}



form {
   display: flex;
   flex-direction: row;
}



section {
   width: 70%;
   height: 80%;
}


/* advertisement 영상 */

.flipped-text {
   transform: scaleY(-1);
   display: inline-block;
   font-size: 1.5rem;
   color: black;
}

h1.flipped-text {
   color: black(77, 74, 74, .9);
   font-size: 4rem;
   text-shadow: 2px 2px 5px rgba(175, 171, 182, .7);
   -webkit-text-stroke: .2px #f5f5f5;
   text-align: center;
   margin-left: -40%;
}

.video-container {
   display: flex;
   max-width: 1200px;
   overflow: hidden;
   height: 90%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
}

iframe {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1;
   border: none;
   width: 800px;
   height: 400px
}






/* Table */
table {
   width: 100%;
   border-collapse: collapse;
   border-top: 1px solid black;
   /* 테이블 상단 테두리 */
   border-bottom: 1px solid black;
   /* 테이블 하단 테두리 */
}

th,
td {
   padding: 10px;
   text-align: center;
   border: none;
   /* 안쪽 테두리 제거 */
}

th {
   background-color: #333;
   color: white;
   font-weight: bold;
}

tr {
   background-color: #f2f2f2;
}

.ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.center {
   text-align: center;
}




/*  loginbox */

fieldset {
   padding: 1%;
   margin-left: 20%;
   height: 100%;
   width: 600px;
   height: 850px;
   color: black;
   border: 3px double white;
   background-color: black;
   border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

legend {
   padding: 2%;
   text-align: center;
   align-items: center;
   justify-content: center;
   color: black;
   -webkit-text-stroke: 0.9px ghostwhite;
   font-size: 70px;
}

h3 {
   color: white;
}

.img_login {
   height: 65px;
   width: 350px;
}

.img_login:hover {
   height: 65px;
   width: 347px;
   border-radius: 0.5rem;
}



/* a */
a {
   text-decoration: none;
   color: white;
   font-weight: 700;
   padding: 1%;
}

a:hover {
   text-decoration: underline;
   color: white;
   font-weight: 900;
}



/* Button */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
button,
.button {
   height: 40px;
   width: 500px;
   font-size: 25px;
   padding: 1%;
   position: relative;
   display: inline-block;
   background-color: white;
   color: black;
   text-align: center;
   border-radius: 0.5em;
   border: 2px solid white;
   cursor: text;
   margin: 0%;
}

P{
   color: white;   
}


input[type="button"],
input[type="submit"] {
   height: 70px;
   width: 350px;
   font-size: 20px;
   padding: 1%;
   position: relative;
   display: inline-block;
   color: white;
   background: black;
   text-align: left;
   border-radius: 0.5em;
   border: 2px solid white;
   cursor: pointer;
   margin: 1%
}


input[type="button"]:hover,
input[type="submit"]:hover {
   height: 70px;
   width: 350px;
   font-size: 25px;
   padding: 1%;
   position: relative;
   display: inline-block;
   color: white;
   background: black;
   text-align: left;
   border-radius: 0.5em;
   border: 3px solid white;
   cursor: pointer;
   margin: 1%
}


placeholder {
   font-size: 10px;
}