<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<title>mypageview.html</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/css/mypage.css" />
<link rel="stylesheet" href="/css/base/base.css">
<link rel="stylesheet" href="/css/base/inquiry.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/mypage.js"></script>
<noscript>
	<link rel="stylesheet" href="assets/css/noscript.css" />
</noscript>


<body>
	<header th:replace="~{base/base :: header}"></header>

	<!--SubTitle-->

	<section class="SubTitle">MY_INFORMATION</section>

	<!--챗봇 아이콘-->
	<div th:replace="~{base/base :: floaticon}"></div>
	<!-- Main -->
	<main>

		<div id="Favorites_box" style="background-color: white;">

			<div class="div">
				<div id="kakao-talk-channel-chat-button"></div>
				<h3>- WE ARE KEEPING YOUR INFORMATION SAFE -</h3>
			</div>



			<!--main 안에 있는 큰 박스-->
			<div class="flex-container_column">

				<div style="width: 60%; height: 100%;">


					<table>
						<tr>
							<th th:text="#{info.nickname}"></th>
							<td th:if="${session.user.memberSocial == '회원'}" th:text="${hiddenuser.memberNickname}"
								aria-disabled="true"></td>
							<td th:unless="${session.user.memberSocial == '회원'}"
								th:text="${hiddenuser.memberSocialNickname}" aria-disabled="true"></td>
						</tr>

						<tr>
							<th th:text="#{info.id}"></th>
							<td th:if="${session.user.memberSocial == '회원'}" th:text="${hiddenuser.memberId}"
								aria-disabled="true"></td>
							<td th:unless="${session.user.memberSocial == '회원'}" th:text="${hiddenuser.memberEmail}"
								aria-disabled="true"></td>
						</tr>

						<tr>
							<th th:text="#{info.pw}"></th>
							<td th:text="${hiddenuser.memberPw}"></td>
						</tr>

						<tr>
							<th th:text="#{info.name}"></th>
							<td th:text="${hiddenuser.memberName}"></td>
						</tr>

						<tr>
							<th th:text="#{info.email}"></th>
							<td th:text="${hiddenuser.memberEmail}"></td>
						</tr>

						<tr>
							<th th:text="#{info.phone}"></th>
							<td th:text="${hiddenuser.memberPhoneNum}"></td>
						</tr>

					</table>
					<br>

					<div class="flex-container_row" style="height: 10%;">
						<a id="edit_save_td" th:if="${session.user.memberSocial == '회원'}">
							<button type="button" onclick="change_info()" th:text="#{info.btn.edit}"></button>
						</a>
						<a id="edit_save_td" th:unless="${session.user.memberSocial == '회원'}"
							th:href="@{/mypage/myinfo_social_edit}">
							<button type="button" th:text="#{info.btn.edit}"></button>
						</a>

					</div>
				</div>
			</div>

		</div>

		</div>

	</main>

	</div>

   <!-- Footer -->

	<footer th:replace="~{base/base :: footer}"></footer>
	<div th:replace="~{base/base :: inquiry_overlayhtml}"></div>
	<div th:replace="~{base/base :: inquiry_Listhtml}"></div>
	<div th:replace="~{base/base :: inquiry_writehtml}"></div>
	<div th:replace="~{base/base :: inquiry_detailhtml}"></div>
	<script src="/js/Inquiry/inquiry.js"></script>

</body>

</html>