<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 확인</title>
    <link rel="stylesheet" href="assets/css/My_page.css">
    <style>
        body {
            text-align: center;
            padding-top: 16%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function closeWindow() {
            // Close the window
            window.opener = null;
            window.open('', '_self', '');
            window.close();
        }

        function verifyPassword(event) {
            event.preventDefault();
            var password = $("input[name='user_password']").val();
            $.ajax({
                type: "GET",
                url: "/mypage/myinfo",
                data: { user_password: password },
                success: function(response) {
                    if (response.success) {
                        alert(response.message);
                        window.opener.location.href = response.redirectUrl;
                        closeWindow();
                    } else {
                        alert(response.message);
                    }
                }
            });
        }
    </script>
</head>
<body>
    <form onsubmit="verifyPassword(event)">
        <h3 th:text="#{info.checkpw}"></h3>
        <input type="password" name="user_password" required>
        <input type="submit" th:value="#{info.submit}">
    </form>
</body>
</html>
