<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>File Upload and Download</title>
</head>

<body>

	<h2>File Upload</h2>
	<form action="/s3/upload" method="post" enctype="multipart/form-data">
		<label for="file">Select file:</label>
		<input type="file" id="file" name="file">
		<button type="submit">Upload</button>
	</form>

	<h2>File Download</h2>
	<form action="/s3/download" method="get">
		<label for="filename">Enter filename:</label>
		<input type="text" id="filename" name="filename">
		<button type="submit">Download</button>
	</form>

	<script>
		document.querySelector('form[action="/s3/download"]').onsubmit = function (event) {
			event.preventDefault();
			const filename = document.getElementById('filename').value;
			fetch(`/s3/download/${filename}`)
				.then(response => response.blob())
				.then(blob => {
					const url = window.URL.createObjectURL(blob);
					const a = document.createElement('a');
					a.style.display = 'none';
					a.href = url;
					a.download = filename;
					document.body.appendChild(a);
					a.click();
					window.URL.revokeObjectURL(url);
				})
				.catch(() => alert('File download failed.'));
		};
	</script>

</body>

</html>