<!DOCTYPE html>
<html>
<head>
   <title>Spring Framework</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" 
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" 
      crossorigin="anonymous">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<h3>게시글 수정</h3>

<div class="container" align="center">
	<form th:action="@{/board/updateBoard}" method="post" enctype="multipart/form-data">
		<input name="boardId" type="hidden" th:value="${board.boardId}">
		boardTitle=<input type="text" name="boardTitle" th:value="${ board.boardTitle }"><br />
		boardWriter=<input type="text" name="boardWriter" th:value="${ board.boardWriter }" disabled><br />
		boardContent=<textarea th:text="${board.boardContent}"  name="boardContent" rows="15" ></textarea><br />
		<div th:if="${board.boardFilename != null}">
			첨부된 파일=
			<a th:href="@{/download(boardId=${board.boardId}, fn=${board.boardFilename})}" 
				th:text="${board.boardFilename}"></a>
			<a href="#" onclick="deleteFile('[[${board.boardId}]]')">파일 삭제</a>
		</div>
		<div>
            uploadFile = <input type="file" name="uploadFile" id="uploadFile" aria-describedby="uploadFile" aria-label="Upload"><br/>
        </div>
		boardDate=<input type="text" name="boardDate" th:placeholder="${board.boardDate}" disabled><br />
		boardCnt=<input type="text" name="boardCnt" th:value="${ board.boardCnt }" disabled><br />
		<input type="submit" class="btn" value="수정하기"/>
		<a th:href="@{/board/deleteBoard(boardId=${board.boardId})}">게시글삭제</a>
	</form>
</div>
<script>
	function deleteFile(boardId) {
	    if (confirm("정말로 파일을 삭제하시겠습니까?")) {
	        fetch('/board/deleteFile/' + boardId, {
	            method: 'POST',
	            headers: {
	                'Content-Type': 'application/json'
	            }
	        })
	        .then(response => response.json())
	        .then(result => {
	            alert(result.message);
	            if (result.status === 'success') {
	                location.reload();
	            }
	        })
	        .catch(error => {
	            alert("파일 삭제 중 오류가 발생하였습니다: " + error);
	        });
	    }
	}
</script>
</body>
</html>