<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/admin.css">
	<link rel="stylesheet" href="/css/base/base.css">
	<link rel="stylesheet" href="/css/base/inquiry.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="assets/js/carini_script.js" defer></script>
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body>
	<!--Header-->
	<header th:replace="~{base/base :: main_header}"></header>

	<!--SubTitle-->
	<div class="container">
		<section class="SubTitle">ADMIN</section>
	</div>

	<div class="div">
		<p id="SubTitle_Text" th:text="#{admin}"></p>
	</div>

	<div class="div">
		<h3>with carini</h3>
	</div>

	<div style="height: 50px;"></div><!--공간 띄우기 위한 박스-->

	<!--Main-->
	<main>
		<!--main 안에 있는 큰 박스-->
		<div class="flex-container_column">
			<a th:href="@{/admin/memberList}" th:text="#{admin.menu.member}"></a><br />
			<a th:href="@{/admin/boardList}" th:text="#{admin.menu.board}"></a><br />
			<a th:href="@{/admin/noticeList}" th:text="#{admin.menu.notice}"></a><br />
			<a th:href="@{/admin/inquiryList}" th:text="#{admin.menu.inquiry}"></a><br />
			<a th:href="@{/admin/modelList}" th:text="#{admin.menu.model}"></a><br />
		</div>
	</main>


	<!-- Footer -->
	<footer th:replace="~{base/base :: main_footer}"></footer>

	<!-- Inquiry -->
	<!--
	<div th:replace="~{base/base :: inquiry_overlayhtml}"></div>
	<div th:replace="~{base/base :: inquiry_Listhtml}"></div>
	<div th:replace="~{base/base :: inquiry_writehtml}"></div>
	<div th:replace="~{base/base :: inquiry_detailhtml}"></div>
	<script src="/js/Inquiry/inquiry.js"></script>
	-->

	<!-- Scripts -->
	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/main.js"></script>




</body>

</html>