<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>adminList</title>
</head>
<body>
	<a th:href="@{/admin/memberList}" th:text="#{admin.menu.member}"></a><br />
	<a th:href="@{/admin/boardList}" th:text="#{admin.menu.board}"></a><br />
	<a th:href="@{/admin/notice}" th:text="#{admin.menu.notice}"></a><br />
	<a th:href="@{/admin/inquiry}" th:text="#{admin.menu.inquiry}"></a><br />
	<a th:href="@{/admin/model}" th:text="#{admin.menu.model}"></a><br />
	<a th:href="@{/admin/center}" th:text="#{admin.menu.center}"></a>
</body>
</html>


