<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Answer Inquiry</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/admin.css">
	<link rel="stylesheet" href="/css/base/base.css">
	<link rel="stylesheet" href="/css/base/inquiry.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="assets/js/carini_script.js" defer></script>
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>
<style>
	td:nth-child(1),
	th:nth-child(1) {
		width: 20%;
		background-color: whitesmoke;
	}

	/* 2:3:2:3 비율로 설정 */
	td:nth-child(2),
	th:nth-child(2) {
		width: 30%;
	}

	td:nth-child(3),
	th:nth-child(3) {
		width: 20%;
		background-color: whitesmoke;

	}

	td:nth-child(4),
	th:nth-child(4) {
		width: 30%;
	}
</style>

<body>
	<!--Header-->
	<header th:replace="~{base/base :: main_header}"></header>

	<!--SubTitle-->
	<div class="SubtitleContainer">
		<section class="SubTitle">ADMIN</section>
	</div>

	<div class="div">
		<p id="SubTitle_Text">Answer Inquiry</p>
	</div>

	<div class="div">
		<h3>with inquiry</h3>
	</div>

	<div style="height: 50px;"></div><!--공간 띄우기 위한 박스-->

	<!--Main-->
	<main>
		<!--main 안에 있는 큰 박스-->
		<form id="answerInquiryForm" th:action="@{/admin/answerInquiry}" method="post">
			<div class="flex-container_column">
				<article id="main">
					<table border="1" style="width: 1300px;">
						<tr>
							<td th:text="#{label.inquiry.reId}"></td>
							<td colspan="3">
								<input type="hidden" name="reId" th:value="${inquiry.reId}" />
								<span th:text="${inquiry.reId}"></span>
							</td>
						</tr>
						<tr>
							<td th:text="#{label.inquiry.reTitle}"></td>
							<td>
								<input type="hidden" name="reTitle" th:value="${inquiry.reTitle}" />
								<span th:text="${inquiry.reTitle}"></span>
							</td>
							<td th:text="#{label.inquiry.reTitleRq}"></td>
							<td>
								<input type="text" name="reTitleRq" th:value="${inquiry.reTitleRq}"
									style="width: 100%;" />
							</td>
						</tr>
						<tr>
							<td th:text="#{label.inquiry.reContent}"></td>
							<td>
								<input type="hidden" name="reContent" th:value="${inquiry.reContent}" />
								<textarea th:text="${inquiry.reContent}" cols="30" rows="10" style="resize: none;"></textarea>
							</td>
							<td th:text="#{label.inquiry.reContentRq}"></td>
							<td>
								<textarea name="reContentRq" id="reContentRq" cols="30" rows="10"
									th:value="${inquiry.reContentRq}"
									th:placeholder="${inquiry.reContentRq}"
									style="resize: none;"></textarea>

							</td>
						</tr>
						<tr>
							<td th:text="#{label.inquiry.reDate}"></td>
							<td>
								<input type="hidden" name="reDate" th:value="${inquiry.reDate}" />
								<span th:text="${#dates.format(inquiry.reDate, 'yyyy-MM-dd hh:mm')}"></span>
							</td>
							<td th:text="#{label.inquiry.reDateRq}"></td>
							<td>
								<input th:if="${inquiry.reDateRq == null}" th:value="${date}" style="width: 100%;" />
								<span th:if="${inquiry.reDateRq != null}"
									th:text="${#dates.format(inquiry.reDateRq, 'yyyy-MM-dd hh:mm')}"></span>
							</td>
						</tr>
						<tr>
							<td th:text="#{label.inquiry.memberId}"></td>
							<td>
								<input type="hidden" name="memberId" th:value="${inquiry.memberId}" />
								<span th:text="${inquiry.memberId}"></span>
							</td>
							<td th:text="#{label.inquiry.reHero}"></td>
							<td><input type="text" name="reHero" th:value="${inquiry.reHero}" readonly
									style="width: 100%;" /></td>
						</tr>
					</table>
				</article>
				<div class="flex-container_row">
					<button type="submit" th:text="#{inquiry.answer}" style="margin-right: 20px;"></button>
					<a th:href="@{/admin/deleteInquiry(reId=${inquiry.reId})}" th:text="#{inquiry.delete}"
						onclick="return confirm('정말로 삭제하시겠습니까?');" style="margin-right: 20px;"></a>
					<a th:href="@{/admin/inquiryList}" th:text="#{inquiry.list}"></a>
				</div>
			</div>
		</form>
	</main>



	<!-- Footer -->
	<footer th:replace="~{base/base :: main_footer}"></footer>

	<!-- Inquiry -->
	<!--
	<div th:replace="~{base/base :: inquiry_overlayhtml}"></div>
	<div th:replace="~{base/base :: inquiry_Listhtml}"></div>
	<div th:replace="~{base/base :: inquiry_writehtml}"></div>
	<div th:replace="~{base/base :: inquiry_detailhtml}"></div>
	<script src="/js/Inquiry/inquiry.js"></script>
	-->

	<!-- Scripts -->
	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/main.js"></script>


</body>
<script>
	function confirmDelete() {
		if (confirm("정말로 문의를 삭제하시겠습니까?")) {
			document.querySelector('form').submit(); // 폼 제출
		}
	}
</script>

</html>