<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Answer Inquiry</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/admin.css">
	<link rel="stylesheet" href="/css/base/base.css">
	<link rel="stylesheet" href="/css/base/inquiry.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="assets/js/carini_script.js" defer></script>
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>
<style>
    /* Custom styles for the table and container */
    .table-container {
        overflow-x: auto;
        width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.8em; 
		margin:0%;
    }

    th{
        padding: 8px;
        text-align: center;
		vertical-align: middle; 
        border-bottom: 1px solid #ddd;
		font-size: 1em; 
    }
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
</style>
<body >
	<!--Header-->
	<header th:replace="~{base/base :: main_header}"></header>

	<!--SubTitle-->
	<div class="container">
		<section class="SubTitle">ADMIN</section>
	</div>
	
	<div class="div">
		<p id="SubTitle_Text" th:text="#{admin.member.memberList}"></p>
	</div>

	<div class="div">
		<h3 th:text="|with #{admin.menu.member}|"></h3>
	</div>

	<div style="height: 50px;"></div><!--공간 띄우기 위한 박스-->

	<!--Main-->
	<main style="margin:0%; padding: 0%;">
		<div class="flex-container_column" id="zero">
			<form th:action="@{/admin/memberList}" method="get" id="zero">
				<div class="flex-container_row" id="zero">
					<input type="hidden" id="curPage" name="curPage" th:value="0">
					<input type="hidden" id="rowSizePerPage" name="rowSizePerPage" th:value="${rp}">
					<span style="width: 30%;">
						<span th:text="#{board.total.start}"></span>
						<span th:text="${pagedResult.getTotalElements()}"></span>
						<span th:text="#{member.total}"></span>
					</span>

					<span class="container">
						<div class="flex-container_row" style="width: 100%;">
							<select class="form-select" id="searchType" name="searchType" style="width: 20%;">
								<option class="select_options" value="memberNickname"
									th:selected="${st=='memberNickname'}" th:text="#{member.memberNickname}"></option>
								<option class="select_options" value="memberPhoneNum"
									th:selected="${st =='memberPhoneNum'}" th:text="#{member.memberPhoneNum}"></option>
								<option class="select_options" value="memberId" th:selected="${st =='memberId'}"
									th:text="#{member.memberId}"></option>
							</select>
							<div style="width: 70%;">
								<input name="searchWord" type="text" style="width: 100%">
							</div>
							<div style="width: 10%;">
								<input type="submit" name="검색" class="gradient" value="SEARCH" style="width: 100%; margin-left:10%;">
							</div>
						</div>
					</span>
				</div>
			</form>
					<table border="1" style="font-size: 14PX; width: 1800PX;">
						<tr>
							<th th:text="#{member.memberId}"></th>
							<th th:text="#{member.memberName}"></th>
							<th th:text="#{member.memberNickname}"></th>
							<th th:text="#{member.memberEmail}"></th>
							<th th:text="#{member.memberPhoneNum}"></th>
							<th th:text="#{member.memberDate}"></th>
							<th th:text="#{member.memberSocial}"></th>
							<th th:text="#{member.memberRole}"></th>
							<th th:text="#{member.memberSocialNickname}"></th>
							<th th:text="#{member.boardCount}"></th>
							<th th:text="#{member.bookmarkCount}"></th>
							<th th:text="#{member.inquiryCount}"></th>
						</tr>
						<tr th:each="member : ${memberList}">
							<td><a th:href="@{/admin/updateMember(memberId=${member.memberId})}"
									th:text="${member.memberId}"></a></td>
							<td th:text="${member.memberName}"></td>
							<td th:text="${member.memberNickname}"></td>
							<td th:text="${member.memberEmail}"></td>
							<td th:text="${member.memberPhoneNum}"></td>
							<td th:text="${member.memberDate}"></td>
							<td th:text="${member.memberSocial}"></td>
							<td th:text="${member.memberRole}"></td>
							<td th:text="${member.memberSocialNickname}"></td>
							<td>
								<a th:href="@{/admin/boardList(searchType='boardWriter', searchWord=${member.memberNickname})}"
									th:text="${memberCountMap[member.memberId].get(0)}"></a>
							</td>
							<td><a th:href="@{/admin/bookmarkList(memberId=${member.memberId})}"
									th:text="${memberCountMap[member.memberId].get(1)}"></a></td>
							<td>
								<a th:href="@{/admin/inquiryList(searchType='memberId', searchWord=${member.memberId})}"
									th:text="${memberCountMap[member.memberId].get(2)}"></a>
							</td>
						</tr>
					</table>

			<!--pagination-->
			<div class="flex-container_row" style="margin-left: -2%; border-top: 1px solid lightgray;">
				<ul class="col pagination justify-content-center"
					style="list-style-type: none; display: flex; justify-content: center; width: 130%;">-
					<th:block th:if="${sp > ps}">
						<li class="page-item"><a class="Board-hover page-link"
								th:href="@{/admin/memberList(curPage=${sp-ps}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
								th:text="#{page.prev}"></a></li>
					</th:block>

					<th:block th:each="page : ${#numbers.sequence(pagingInfo.getStartPage(), pagingInfo.getEndPage())}">
						<li class="page-item" th:classappend="${(page-1)==pagingInfo.getCurPage() ? 'active' : ''}">
							<a class="page-link" th:classappend="${(page-1)==pagingInfo.getCurPage() ? 'current' : ''}"
								th:href="@{/admin/memberList(curPage=${page-1}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
								th:text="${page}"></a>
						</li>
					</th:block>

					<th:block th:if="${ ep lt tp }">
						<li class="page-item"><a class="Board-hover page-link"
								th:href="@{/admin/memberList(curPage=${ep}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
								th:text="#{page.next}"></a></li>
					</th:block>&nbsp;&nbsp;-
				</ul>
			</div>
			<div style="height: 40px;"></div> <!--간격박스-->
			<div class="flex-container_row" style="justify-content: end;">
				<a th:href="@{/admin/insertMember}" th:text="#{admin.member.insertMember}"
					style="margin-right: 20px;">멤버 추가</a>
				<a th:href="@{/admin/adminList}" th:text="#{admin.adminList}"></a>
			</div>
		</div>
	</main>


	<!-- Footer -->
	<footer th:replace="~{base/base :: main_footer}"></footer>

	<!-- Scripts -->
	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>