<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Answer Inquiry</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/admin.css">
	<link rel="stylesheet" href="/css/base/base.css">
	<link rel="stylesheet" href="/css/base/inquiry.css">
	<link rel="stylesheet" href="/css/updateBoard.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="assets/js/carini_script.js" defer></script>
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>
<style>
	.field-error {
		border-color: #dc3545;
		color: #dc3545;
	}
</style>

<body class="no-sidebar is-preload">
	<!--Header-->
	<header th:replace="~{base/base :: main_header}"></header>
	<!--챗봇 아이콘-->
	<div th:replace="~{base/base :: floaticon}"></div>

	<!-- Main -->
	<div class="wrapper style1">
		<div class="container">
			<p class="Board_text"><br>_Edit_Board</p>

			<form th:action="@{/admin/updateBoard}" th:object="${BoardUpdateFormValidation}" method="post"
				enctype="multipart/form-data" id="boardForm" name="boardForm">
				<input name="boardId" type="hidden" th:value="${board.boardId}">
				<div style="display: flex; gap:10px;color:red;font-weight: 600;">
					<div th:if="${#fields.hasErrors('boardTitle')}">
						<p th:each="err : ${#fields.errors('boardTitle')}" th:text="${err}" class="text-danger"></p>
					</div>
					<div th:if="${#fields.hasErrors('boardContent')}">
						<p th:each="err : ${#fields.errors('boardContent')}" th:text="${err}" class="text-danger">
						</p>
					</div>
				</div>
				<table id="board_info">
					<tr>
						<td class="gangjo" th:text="#{board.write.writer}"></td>
						<td><input type="text" name="boardWriter" th:value="${ session.user.memberNickname }" disabled>
						</td>
						<td class="gangjo" th:text="#{board.write.date}"></td>
						<td><input type="text" name="boardDate" th:value="${board.boardDate}" disabled></td>
					</tr>

					<tr>
						<td colspan="1" class="gangjo" th:text="#{board.write.title}"></td>
						<td colspan="3"><input type="text" th:field="*{boardTitle}" th:errorclass="field-error">

						</td>
					</tr>

					<tr>
						<td class="gangjo">기존파일</td>
						<td style="display: flex;">
							<input type="text" th:field="${board.boardFilename}" disabled>
							<a href="#" th:onclick="deleteFile('[[${board.boardId}]]')">
								<img th:src="@{/img/delete_icon.png}" alt="삭제 이미지"
									style="width:25px; height: 25px; opacity: 0.7;margin-top:20px;margin-left:10px;">
							</a>
						</td>
						<td class="gangjo">변경파일</td>
						<td><input type="file" name="uploadFile" id="uploadFile" aria-describedby="uploadFile"
								aria-label="Upload" th:value="${board.boardFilename}"
								th:disabled="${board.boardFilename != null}" onchange="toggleDeleteLink(this)"></td>
					</tr>

					<tr>
						<td class="gangjo" colspan="4" th:text="#{board.write.content}"></td>
					</tr>
					<tr>
						<td colspan="4" style="padding: 20px;">
							<textarea th:field="*{boardContent}" th:errorclass="field-error" rows="15" />
						</td>
					</tr>
				</table>

				<div id="button_section">

					<div th:if="${board.boardFilename != null}" id="uploadFile_div">
						<a th:href="@{/board/download(boardId=${board.boardId}, fn=${board.boardFilename})}"
							id="uploadFile" class="icon-hover">
							<img th:src="@{/img/download_icon.png}" alt="다운로드이미지">
						</a>
						<a th:href="@{/board/download(boardId=${board.boardId}, fn=${board.boardFilename})}"
							th:text="${board.boardFilename}"></a>

					</div>

					<div class="change_list">
						<div style="width: 125px;" class="footer_btn1">
							<a onclick="document.forms['boardForm'].submit();">수정하기</a>
						</div>
						<div style="width:85px;" class="footer_btn2">
							<a th:href="@{/admin/boardList}" th:text="#{board.list}" class="btn"></a>
						</div>
						<div style="width:85px;" class="footer_btn2">
							<a th:href="@{/admin/deleteBoard(boardId=${board.boardId})}">삭제</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Footer -->
	<footer th:replace="~{base/base :: main_footer}"></footer>

	<!-- Inquiry -->
	<!--
	<div th:replace="~{base/base :: inquiry_overlayhtml}"></div>
	<div th:replace="~{base/base :: inquiry_Listhtml}"></div>
	<div th:replace="~{base/base :: inquiry_writehtml}"></div>
	<div th:replace="~{base/base :: inquiry_detailhtml}"></div>
	<script src="/js/Inquiry/inquiry.js"></script>
	-->

	<!-- Scripts -->
	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/main.js"></script>
	<script>
		function deleteFile(boardId) {
			if (confirm("정말로 파일을 삭제하시겠습니까?")) {
				fetch('/board/deleteFile/' + boardId, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					}
				})
					.then(response => response.json())
					.then(result => {
						alert(result.message);
						if (result.status === 'success') {
							location.reload();
						}
					})
					.catch(error => {
						alert("파일 삭제 중 오류가 발생하였습니다: " + error);
					});
			}
		}
	</script>
	<script>
		function toggleDeleteLink(input) {
			var deleteLink = document.getElementById("deleteLink");
			if (input.value) {
				deleteLink.style.display = "block";
			} else {
				deleteLink.style.display = "none";
			}
		}

		// Initial check in case board.boardFilename is present on page load
		document.addEventListener("DOMContentLoaded", function () {
			var uploadFile = document.getElementById("uploadFile");
			toggleDeleteLink(uploadFile);
		});
	</script>

</body>

</html>